@font-face {
  font-family: 'MyriadProReg';
  src: url('fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
	     url('fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'), url('fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

@font-face {
  font-family: 'MyriadProLight';
  src: url('fonts/MyriadPro-Light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Light/MyriadPro-Light.otf')  format('opentype'),
	     url('fonts/MyriadPro-Light/MyriadPro-Light.woff') format('woff'), url('fonts/MyriadPro-Light/MyriadPro-Light.ttf')  format('truetype'), url('fonts/MyriadPro-Light/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
}

@font-face {
  font-family: 'MyriadProBold';
  src: url('fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Bold/MyriadPro-Bold.otf')  format('opentype'),
	     url('fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold/MyriadPro-Bold.ttf')  format('truetype'), url('fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
}

@font-face {
  font-family: 'MyriadProSemiBold';
  src: url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.otf')  format('opentype'),
	     url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'), url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf')  format('truetype'), url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/Iconmoon/icomoon.eot?eolqzb');
    src:    url('fonts/Iconmoon/icomoon.eot?eolqzb#iefix') format('embedded-opentype'),
        url('fonts/Iconmoon/icomoon.ttf?eolqzb') format('truetype'),
        url('fonts/Iconmoon/icomoon.woff?eolqzb') format('woff'),
        url('fonts/Iconmoon/icomoon.svg?eolqzb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

//******Fonts Variables

$myriadproreg : MyriadProReg, sans-serif;
$myriadprolight : MyriadProLight, sans-serif;
$myriadprobold : MyriadProBold, sans-serif;
$myriadprosemibold : MyriadProSemiBold, sans-serif;
