footer {
  padding: 15px 0;
  position: absolute;
    bottom: 0;
    padding-left: 247px;
    width: 100%;
    background: #fff;

  @media (max-width: $screen-md-max){
    padding-left: inherit;
  }
  .foot-menu {
    display: inline-block;
    li {
      display: inline-block;

      &:not(:last-child){
          border-right: 1px solid #ababab;
      }

      a {
        color: #000;
        text-decoration: none;
        font-size: 12px;
        display: inline-block;
        padding: 0 15px;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }

      @media(max-width: 500px){
        display: block;
        &:not(:last-child){
          border: none;
        }

        a{
          padding: 0;
          margin-bottom: 15px;
        }

      }
    }
  }
  .register-num{
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    top: 2px;

    @media(max-width: $screen-md-max){
      float: none;
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  }
}
