header {
  background-color: #000;
  font-family: $myriadprobold;

  .container {
    // max-width: 986px;
    position: relative;
  }

  .red-label {
    height: 35px;
    background-color: #ea1f26;

    .find-more {
      position: relative;
      line-height: 36px;
      //letter-spacing: 1.3px;
      font-family: Verdana, sans-serif;
      margin-left: 6px;
      letter-spacing: 0;

      &:after {
        content: '';
        width: 13px;
        height: 9px;
        position: absolute;
        right: -15px;
        top: 3px;
        background: url(../img/arrow-white.png) no-repeat;
      }
    }

    .logo-mini {
      float: right;
      position: relative;
      top: 8px;
      right: -4px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.4px;
  }

  > .container {
    // min-height: 36px;
    @media(max-width: 640px) {
      display: none;
    }
  }

  .menu {
    float: right;

    ul {
      text-align: right;
      white-space: nowrap;

      li {
        display: inline-block;
        // margin-top: 12px;
        margin-left: 8px;
        padding-left: 8px;
        position: relative;
        // &:not(:first-child) {
        //   border-left: 1px solid #666666;
        //   margin-left: 19px;
        //   padding-left: 19px;
        // }
        a {
          font-family: sans-serif;
          font-weight: bold;
          display: block;
          margin-top: 1px;
          text-transform: uppercase;
          line-height: 30px;
          font-size: 11px;
          letter-spacing: 0;

          &:hover {
            text-decoration: underline;
          }
        }

        .submenu {
          top: 31px;
          z-index: 105;
          left: 0;
          color: #fff;
          position: absolute;
          padding: 8px;
          width: 744px;
          text-align: left;
          background-color: #1d8995;
          font-size: 11px;
          display: none;

          ul {
            text-align: left;
            background-color: #1d8995;
            font-size: 11px;
            padding: 8px;

            li {
              width: 100%;
              display: block;
              text-transform: none;
            }
          }

          li {
            color: #fff;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            text-align: left;
          }

          @media (max-width: 1270px) {
            width: 315px;
          }

          @media (max-width: $screen-sm-max) {
            left: -157px;
          }
        }

        &:hover {
          .submenu {
            display: block;
          }
        }

        &.promo {
          a {
            font-size: 11px;
            // border: 1px solid #fff;
            border-radius: 5px;
            padding: 0 6px;
            display: block;
            /* height: 27px; */
            box-sizing: border-box;
            display: block;
            line-height: 20px;
            background: #1D939F;
          }
        }
      }

      @media (max-width: 1200px) {
        white-space: normal;
      }

      @media (max-width: $screen-sm-max) {
        text-align: center;

        .promo {
          margin-bottom: 6px;
        }
      }
    }
  }

  .search-bar {
    background: #2bb0c0 url(../img/search-bar.jpg) center;
    height: 51px;

    @media (max-width: $screen-md-max) {
      height: auto;
      background: #2bb0c0;
      padding-bottom: 13px;
    }

    .code-text {
      color: #fff;
      font-family: $myriadprolight;
      margin-left: 15px;
      font-size: 19px;
      display: inline-block;
      margin-top: 13px;
      letter-spacing: -0.3px;
      white-space: nowrap;
    }

    .code-text-wrap {
      display: inline-block;

      @media (max-width: $screen-md-max) {
        display: block;
        text-align: center;

        .code-text {
          margin-left: 0;
        }
      }
    }

    .form-wrap {
      display: inline-block;
      position: relative;

      @media (max-width: $screen-md-max) {
        display: block;
        text-align: center;
      }
    }

    .quest-link {
      display: inline-block;
      margin: 5px 15px 0 3px;
    }

    .code-form {
      display: inline-block;

      .form-group {
        display: inline-block;

        &.has-error {
          input {
            border: 1px solid red;
          }

          .error-msg {
            top: 42px;
            z-index: 1;
          }
        }
      }

      input {
        width: 440px;
        height: 32px;
        border: none;
        padding-left: 15px;

        @media (max-width: 1300px) {
          width: 353px;
        }
      }

      button {
        width: 158px;
        height: 31px;
        background-image: linear-gradient(to top, rgba(93, 93, 93, 0.26) 0%, rgba(169, 169, 169, 0.26) 42%, rgba(228, 228, 228, 0.26) 49%, rgba(225, 225, 225, 0.26) 100%);
        border: none;
        border-radius: 3px;
        box-shadow: 0 2px 0 rgba(236, 236, 236, 0.75);
        cursor: pointer;
        font-family: $myriadprobold;
        color: #0f616e;
        margin-left: 12px;
        position: relative;
        padding-top: 5px;
      }
    }

    .login-icon {
      @include position(absolute, 4px -129px null null);
      text-align: center;

      span {
        display: block;
        text-align: center;
        //position: relative;
        position: absolute;
        //top: -3px;
        //left: -28px;
        bottom: -10px;
        white-space: nowrap;
        transform: translateX(-50%);
        left: 50%;
      }

      @media (max-width: 1500px) {
        right: 0;
      }

      @media (max-width: 1300px) {
        right: 50px;
      }

      @media(max-width: $screen-lg-max) {
        top: 10px;
        right: 0;

        span {
          display: none;
        }
      }

      @media(max-width: $screen-md-max) {
        //span {
        //  display: none;
        //}
      }

      @media(max-width: $screen-sm-max) {
        top: 9px;
        position: relative;
        right: 5px;
        margin-bottom: 15px;
      }
    }

    .form-wrap {
      display: inline-block;

      @media (max-width: $screen-md-max) {
        display: block;

        &:before {
          content: '';
          display: table;
          width: 100%;
          clear: both;
        }

        form {
          display: block;
          margin: 0 auto;
          width: 80%;
        }

        .form-group {
          width: 48%;

          input {
            width: 100%;
            float: left;
            margin-bottom: 0;
          }
        }

        button {
          width: 48%;
          float: right;
          top: 0;
          margin-left: 0;
        }

        .login-icon {
          position: relative;
        }
      }

      @media (max-width: 450px) {
        form {
          width: 100%;

          .form-group,
          button {
            width: 100%;
            float: none;
            display: block;
            margin: 10px 0;
          }

          .form-group {
            margin-bottom: 20px;

            input {
              float: none;
            }
          }

          .form-group.has-error {
            .error-msg {
              top: 34px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $screen-md-max) {
    .red-label {
      height: auto;
      text-align: center;
      padding-bottom: 10px;

      .container {
        a {
          float: none;
          margin-left: 0;
          right: auto;
          line-height: normal;
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .red-label {
      .container {
        .find-more {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.social-enter-wrap {
  @include position(absolute,55px -135px null null);
  background: #fff;
  border-radius: 10px;
  z-index: 10;
  padding: 4px 15px 10px;

  span {
    font-size: 12px;
    color: #027a86;
  }

  a {
    display: inline-block;
    // width: 20px;
    position: relative;
    top: 6px;
    margin: 0 3px;
    color: #2295a5;
    font-size: 20px;

    img {
      display: block;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-33702:before {
    content: "\e900";
  }

  .icon-49421:before {
    content: "\e901";
  }

  .icon-49469:before {
    content: "\e902";
  }

  @media (max-width: $screen-lg-max) {
    max-width: 290px;
    right: 0;
    left: 0;
    top: 50px;
    margin: auto;
  }

  @media (max-width: $screen-sm-max) {
    padding-bottom: 5px;
    top: 70px;
  }

  @media (max-width: $screen-xs-max) {
    top: 77px;
  }

  @media (max-width: 450px) {
    top: 107px;
    max-width: 131px;

    a {
      top: 4px;
    }

    span {
      display: none;
    }
  }
}

.social-enter-wrap a {}
