* {
  font-family: $myriadproreg;
}

.content {
  padding-left: 247px;
  padding-bottom: 56px;

  @media (max-width: $screen-md-max) {
    padding-left: inherit;
    padding-bottom: 85px;
  }

  

  @media (max-width: 500px) {
    padding-bottom: 200px;
  }
}
