//**********Pop UPs***************************

.pop-ups {
  .pop-up-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #148795;
    opacity: 0.6;
    z-index: 200;
    top: 0;
    display: none;
  }

  .pop-up {
    text-align: left;
    background: #fff;
    box-shadow: 0.523px 4.973px 16px 0 rgba(0, 0, 0, 0.18);
    padding: 15px;
    width: 684px;
    z-index: 210;
    display: none;
    @include position(absolute, null 0 null 0);
    margin: auto;

    a.close {
      height: 19px;
      width: 19px;
      display: inline-block;
      color: #148795;
      @include position(absolute, 27px 15px null null);
      text-decoration: none;
      text-transform: uppercase;
      background: url(../img/close-pop.png) no-repeat;

      &:hover {
        opacity: 0.6;
      }
    }

    .title {
      color: #339999;
      font-size: 37px;
    }

    .continue-btn {
      float: right;
      width: 242px;
      height: 45px;
      background: #148795;
      color: #fff;
      border: none;
      text-transform: uppercase;
      font-size: 15px;
      cursor: pointer;
      box-sizing: border-box;
      padding-top: 6px;
      display: block;
      margin-top: 10px;
      margin-right: 24px;
    }

    @media (max-width: 720px) {
      width: 90%;

      .continue-btn {
        float: none;
        width: 100%;
      }
    }
  }
  //Enter Club
  .pop-up.enter-club {
    padding: 27px 42px;

    .error-msg{
      position: static;
    }

    .social-network-wrap {
      margin-top: 21px;
      font-size: 21px;
      letter-spacing: -0.1px;
      margin-bottom: 30px;
    }

    .social-wrap {
      text-align: left;
      margin-top: 25px;
      margin-bottom: 30px;
    }

    .sub-title {
      font-size: 21px;
      letter-spacing: -0.1px;
      margin-bottom: 30px;

      a {
        text-decoration: none;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }
    }



    .title-input {
      margin-bottom: 9px;

      @media (max-width: $screen-md-max) {
        margin-bottom: 0;
      }
    }



    .remember-wrap {
      padding-top: 17px;
      padding-bottom: 15px;
    }

    .foot-wrap {
      text-align: center;
      padding: 42px 0 15px;
      font-size: 19px;

      a {
        text-transform: uppercase;
        color: #148795;
      }
    }
  }

  //Social Enter Pop Up
  .pop-up.social-enter {
    padding: 70px 0;

    .title {
      font-family: $myriadprolight;
      font-size: 27px;
      text-align: center;
      margin-bottom: 55px;
    }
  }

  .pop-up.moderation {
    text-align: center;
    padding: 75px 15px;

    .title {
      font-family: $myriadprolight;
      font-size: 27px;
      text-align: center;
    }
  }

  .pop-up.code {
    text-align: center;
    padding: 60px 15px 83px;

    .title {
      font-family: $myriadprolight;
      font-size: 27px;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: 30px;

      a {
        position: relative;
        top: 9px;
      }
    }

    .form-group {
      max-width: 313px;
      margin: 0 auto 33px;

      input {
        width: 100%;
        height: 50px;
        border: 1px solid #d6d6d6;
      }
    }
  }

  .pop-up.repair {
    text-align: center;
    padding: 68px 15px 64px;

    .title {
      font-family: $myriadprolight;
      font-size: 27px;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: 14px;
    }

    .sub-title {
      font-family: $myriadprolight;
      font-size: 14px;
      text-align: center;
      margin-bottom: 45px;
      letter-spacing: 0.5px;
    }

    .form-group {
      max-width: 313px;
      margin: 0 auto 33px;

      input {
        width: 100%;
        height: 50px;
        border: 1px solid #d6d6d6;
      }
    }
  }

  .pop-up.welcome {
    width: 738px;
    height: 536px;
    background: url(../img/welcome-pop-bg.jpg) no-repeat;

    &:after {
      content: '';
      background: url(../img/cat-welcome.png) no-repeat;
      width: 326px;
      height: 283px;
      @include position(absolute, null null -22px 7px);
    }

    .main-title {
      color: #3c4143;
      font-size: 28px;
      font-family: $myriadprolight;
      text-align: center;
      margin: 33px 0 35px;
      letter-spacing: 0.9px;

      span {
        font-family: $myriadprolight;
      }
    }

    .steps {
      padding: 0;

      .step {
        float: left;
        text-align: center;
        width: 40%;
        position: relative;

        span {
          display: block;
          text-align: center;
          font-size: 77px;
          color: #0d98a6;
        }

        &:first-child,
        &:last-child {
          width: 30%;
        }

        &:nth-child(2) {
          &:after {
            content: '';
            background: url(../img/grey-arrow-welcome.png) no-repeat;
            width: 151px;
            height: 30px;
            @include position(absolute, 26px -68px null null);
          }

          &:before {
            content: '';
            background: url(../img/grey-arrow-welcome.png) no-repeat;
            width: 151px;
            height: 30px;
            @include position(absolute, 26px -68px null null);
          }
        }
      }
    }

    .foot-welcome {
      border: 1px dashed #000;
      border-radius: 36px;
      width: 63%;
      float: right;
      margin: 44px 11px 0 0;
      padding: 16px 0 16px 24px;

      .title-welcome {
        font-size: 28px;
        text-align: center;
        margin-bottom: 6px;
        color: #3c4143;
      }

      .sub-title-welcome {
        font-size: 17px;
        text-align: center;
        color: #3c4143;
        padding: 0 15px;
      }
    }

    @media (max-width: 790px) {
      width: 90%;
      border: 8px solid #b9b6b9;
      background: #F4F4F4;
      height: auto;

      &:after {
        display: none;
      }

      .steps {
        .step {
          width: 100%;

          &:first-child,
          &:last-child {
            width: 100%;
          }
text-align: center;

          br {
            display: none;
          }

          &:after,
          &:before {
            display: none;
          }
        }
      }
      .foot-welcome {
        float: none;
        width: 100%;
        margin: 44px auto 0;
        border: none;
        padding: 0;
      }
    }
  }
  .pop-up.year-supply {
    width: 738px;
    height: 666px;
    background: url(../img/year-supply-pop-bg.jpg) no-repeat;
    // display: block !important;
    .main-title {
      color: #3c4143;
      font-size: 29px;
      font-family: $myriadprolight;
      text-align: center;
      margin: 33px 0 35px;
      letter-spacing: 0.5px;
      span {
        font-size: 25px;
        font-family: $myriadprolight;
        display: block;
        padding-top: 12px;
      }
    }
    .field-yearsupplyform-corm {
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 108px;
      padding-right: 10px;
      padding-bottom: 4px;
      label {
        position: relative;
        font-family: $myriadprolight;
        line-height: 1.3;
        font-size: 18px;
        margin-bottom: 27px;
        display: block;
        cursor: pointer;
        input[type="radio"] {
            opacity: 0;
            position: absolute;
            width: 23px;
            height: 23px;
            cursor: pointer;
            left: -52px;
        }
        input[type="radio"] + span {
            display: inline-block;
            width: 23px;
            height: 23px;
            background: url(../img/checkbox-sprite.jpg) no-repeat 0 -23px;
            cursor: pointer;
            left: -52px;
            position: absolute;
            top: 0;
        }
        input[type="radio"]:checked + span {
            background-position: 0 0;
        }



      }
    }
    .pop-btn {
      width: 242px;
      margin: 0 auto;
      display: block;
      font-size: 17px;
    }
    @media (max-width: 790px) {
      width: 90%;
      border: 8px solid #b9b6b9;
      background: #F4F4F4;
      height: auto;
      .main-title br {
        display: none;
      }
      .field-yearsupplyform-corm {
          padding-left: 60px;
      }
      .pop-btn {
          width: 220px;
      }
    }
  }
  .pop-up.animal{
    .chose-animal {
      min-height: 110px;

      .field-signupform-animal {
        display: inline-block;
      }

      p.error-msg {
        top: 88px;
        width: 175px;
      }
      .radio {
        display: inline-block;
        margin-right: 25px;
        position: relative;

        input {
          position: absolute;
          opacity: 0;
        }

        input[type=radio] + label {
          width: 51px;
          height: 51px;
          background: url(../img/sprite-chose-animal.png) no-repeat;
          display: block;
          cursor: pointer;
        }

        &:nth-child(1) {
          input[type=radio] + label {
            background-position: -51px 0;
          }
          input[type=radio]:checked + label {
            background-position: 0 0;
          }
        }
        &:nth-child(2) {
          input[type=radio] + label {
            background-position: -51px -51px;
          }
          input[type=radio]:checked + label {
            background-position: 0 -51px;
          }
        }

      }

      .remove {
        display: inline-block;
        margin-right: 25px;
        position: relative;
        a {
          width: 51px;
          height: 51px;
          background: url(../img/sprite-chose-animal.png) no-repeat;
          background-position: 0 -102px;
          display: block;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }

        //&.cat {
        //  label {
        //    background-position: -51px 0;
        //  }
        //  input:checked + label{
        //    background-position: 0 0;
        //  }
        //}
        //&.dog {
        //  label {
        //    background-position: -51px -51px;
        //  }
        //  input:checked + label{
        //    background-position: 0 -51px;
        //  }
        //}
      }

      ul {
        li {
          display: inline-block;

          a {
            width: 51px;
            height: 51px;
            display: block;
            margin-right: 26px;

            &:before {
              content: '';
              width: 51px;
              height: 51px;
              background: url(../img/sprite-chose-animal.png) no-repeat;
              display: block;
            }

            &.cat {
              &:before {
                background-position: -51px 0;
              }

              &.active {
                &:before {
                  background-position: 0 0;
                }
              }
            }

            &.dog {
              &:before {
                background-position: -51px -51px;
              }

              &.active {
                &:before {
                  background-position: 0 -51px;
                }
              }
            }

            &.remove {
              &:before {
                background-position: 0 -102px;
              }
            }

            @media (max-width: $screen-xs-max) {
              margin-right: 6px;
            }
          }
        }
      }
    }
    .chose-animal{
      .title-input{
        margin-bottom: 15px;
      }
      .radio{
        margin: 0 10px;
      }
      .error-msg{
        position: static;
        line-height: 12px;
        //top: 81px;
      }
    }
  }

  .pop-up.winner-pop-up {
    padding: 38px;

    .has-error{
      .error-msg{
        position: relative;
        top: 3px;
      }
    }

    .title {
      text-align: center;
      font-family: $myriadprolight;
      font-size: 28px;
      margin-bottom: 21px;
    }

    .name-wrap {
      margin-bottom: 15px;

      .form-group {
        margin-top: 10px;
      }
    }

    .input-style {
      height: 30px;

      &::-webkit-input-placeholder {
        font-style: italic;
      }

      &::-moz-placeholder {
        font-style: italic;
      }

      &:-moz-placeholder {
        font-style: italic;
      }

      &:-ms-input-placeholder {
        font-style: italic;
      }
    }

    .input-wrap {
      margin-bottom: 15px;

      .col-md-3 {
        padding-top: 5px;
      }

      &.country {
        .col-md-8 {
          padding-top: 13px;
        }
      }
    }

    .passport-input {
      padding-top: 33px;
      padding-left: 49px;

      .form-group {
        span.show-tip {
          color: #148795;
          font-family: $myriadprolight;
          font-size: 14px;
          position: relative;
          cursor: pointer;
          z-index: 9;
          display: inline-block;
          padding-bottom: 7px;
          // white-space: nowrap;

          &:before {
            content: '';
            display: inline-block;
            background: url(../img/clip.png) no-repeat;
            width: 8px;
            height: 16px;
            @include position(absolute, 7px null null -20px) ;
          }

          &:after {
            content: '';
            position: absolute;
            background: url(../img/underline.png) repeat-x;
            width: 82%;
            height: 2px;
            @include position(absolute, null null 0 0) ;
          }
        }

        input {
          position: absolute;
          left: 28px;
          top: 35px;
          opacity: 0;
          z-index: 10;
          cursor: pointer;
          width: 156px;
          display: block;
        }

        #fileInput {
          &:hover {
            ~ .tip {
              display: block;
            }
          }
        }

        .tip {
          display: none;
          position: absolute;
          font-size: 10px;
          color: #4E4E4E;
          background: #fff;
          padding: 9px;
          box-sizing: border-box;
          width: 203px;
          min-height: 73px;
          text-align: center;
          border: 1px solid #cacaca;
          left: 14px;
          top: 71px;
          z-index: 11;
        }
      }

      @media (max-width: $screen-md-max) {
        span.show-tip {
          &:after {
            display: none;
          }
        }
padding-left: 15px;
        padding-top: 27px;
      }
    }

    .passport-wrap {
      margin-bottom: 15px;

      .input-style {
        height: 44px;
      }
    }

    .pop-btn {
      display: block;
      margin: 0 auto;
    }

    .file-list {
      padding-top: 5px;
      font-size: 14px;
      color: #339999;
      font-family: $myriadprolight;
    }
  }

  .pop-up.winner-pop-up.small {
    .name-wrap {
      margin-bottom: 53px;
    }

    .pop-btn {
      margin-top: 96px;
      margin-bottom: 17px;
    }
  }

  .pop-up.dfl-msg-pop {
    padding: 45px;
    width: 555px;

    .message {
      text-align: center;
      color: #339999;
      font-family: $myriadprolight;
      font-size: 20px;
      line-height: 24px;
      a{
        color: #339999;
        font-family: $myriadprolight;
        &:hover{
          text-decoration: none;
        }
      }
    }

    @media (max-width: 600px) {
      width: 90%;
    }
  }

  .pop-up.dfl-msg-pop.image {
    padding-top: 100px;
    padding-bottom: 0;
  }

  .pop-up.dfl-msg-pop.autorisation {

  }
}

.blue-btn {}

.pop-btn {
  background: #148795;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: $myriadproreg;
  font-size: 16px;
  text-transform: uppercase;
  max-width: 313px;
  width: 100%;
  height: 45px;
  letter-spacing: 2px;
}

.social-wrap {
  text-align: center;

  a {
    display: inline-block;
    width: 69px;
    height: 45px;
    background: url(../img/social-enter-sprite.jpg) 0 0 no-repeat;
    margin: 0 4px;

    &:nth-child(2) {
      background-position: -71px 0;
    }

    &:nth-child(3) {
      background-position: -142px 0;
    }

    &:nth-child(4) {
      background-position: -210px 0;
    }

    &:hover {
      opacity: 0.5;
      transition: 0.2s ease;
    }
  }
}

.remember-me {
  input {
    height: 20px;
    width: 20px;
    border-radius: none;
  }

  .jq-checkbox {
    height: 20px;
    width: 20px;
    border-radius: 0;
    background: none;
    box-shadow: none;

    &.checked {
      .jq-checkbox__div {
        margin: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: url(../img/mark.png) no-repeat center center;
        background-size: cover;
      }
    }
  }
}


.lost-pass {
  text-align: right;

  a {
    color: #148795;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 520px) {
    text-align: left;
    margin-top: 15px;
  }
}



