.page-body {
  position: relative;
  // padding-bottom: 92px;
  min-height: 520px;
}

.sidebar {
  width: 247px;
  background: #bbdbdf;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 150;

  .logo {
    display: block;
    margin: 38px 0 42px 28px;
  }

  .sidebar-menu {
    padding: 0 25px;
    list-style-type: none;

    li {
      padding-left: 10px;

      &:not(:last-child) {
        border-bottom: 1px solid #abd3d7;
      }

      a {
        text-decoration: none;
        color: #1d8993;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        padding: 15px 0;
        display: block;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &.mobile-menu {
      display: none;
    }
  }

  @media(max-width: 640px) {
    .sidebar-menu.mobile-menu {
      display: block;

      li {
        &:first-child {
          border-top: 1px solid #abd3d7;
        }
      }
    }
  }

  @media (max-width: $screen-md-max) {
    left: -247px;
    transition: 0.2s ease;

    .logo {
      display: none;
    }

    &.open {
      left: 0;
    }
  }
}
$fill: #bbdbdf;
$burgerSize: 20px;

.sidebar-btn {
  display: none;
  margin: 10px;
  width: $burgerSize * 1.2;
  height: $burgerSize;
  position: absolute;
  right: -47px;

  span,
  span:before,
  span:after {
    display: block;
    width: 100%;
    height: $burgerSize / 5;
    background: $fill;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  span {
    position: relative;
    margin: ($burgerSize * 2 / 5) 0 0;
  }

  span:before,
  span:after {
    position: absolute;
    content: "";
  }

  span:before {
    top: $burgerSize * -2 / 5;
  }

  span:after {
    top: $burgerSize * 2 / 5;
  }

  &.active {
    span:before {
      transform: translate(0px, ($burgerSize * 2 / 5)) rotate(-45deg);
    }

    span:after {
      transform: translate(0px, -($burgerSize * 2 / 5)) rotate(45deg);
    }

    span {
      background: transparent;
    }
  }

  @media (max-width: $screen-md-max) {
    display: block;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 140;
  top: 0;
  display: none;
}

.username {
  margin-bottom: 16px;
  color: #2bb0c0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
  text-decoration: none;

  @media (max-width: $screen-sm-max) {
    padding-top: 20px;
  }
}
