 @@include('../chunks/head.html')
</head>

<body>

  <div id="page-wrapper" class="page-wrapper">
    @@include('../chunks/header.html')
    @@include('../chunks/popup.html')
    <div id="page-body" class="page-body main-page">
      @@include('../chunks/sidebar.html')
      <div class="content clearfix">
        @@include('../chunks/index.html')
      </div>
      @@include('../chunks/footer.html')
    </div>

  </div>


  <!-- scripts
___________________________________________________________________________-->

  @@include('../chunks/scripts.html')
</body>

</html>
