/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$like-name: 'like';
$like-x: 0px;
$like-y: 23px;
$like-offset-x: 0px;
$like-offset-y: -23px;
$like-width: 21px;
$like-height: 20px;
$like-total-width: 47px;
$like-total-height: 43px;
$like-image: 'sprite.png';
$like: (0px, 23px, 0px, -23px, 21px, 20px, 47px, 43px, 'sprite.png', 'like', );
$look-more-name: 'look-more';
$look-more-x: 0px;
$look-more-y: 0px;
$look-more-offset-x: 0px;
$look-more-offset-y: 0px;
$look-more-width: 23px;
$look-more-height: 23px;
$look-more-total-width: 47px;
$look-more-total-height: 43px;
$look-more-image: 'sprite.png';
$look-more: (0px, 0px, 0px, 0px, 23px, 23px, 47px, 43px, 'sprite.png', 'look-more', );
$share-name: 'share';
$share-x: 23px;
$share-y: 0px;
$share-offset-x: -23px;
$share-offset-y: 0px;
$share-width: 24px;
$share-height: 21px;
$share-total-width: 47px;
$share-total-height: 43px;
$share-image: 'sprite.png';
$share: (23px, 0px, -23px, 0px, 24px, 21px, 47px, 43px, 'sprite.png', 'share', );
$spritesheet-width: 47px;
$spritesheet-height: 43px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($like, $look-more, $share, );
$spritesheet: (47px, 43px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
