<div class="container autorisation">
  <div class="col-lg-7">
    <div class="col-md-12">
      <h1 class="title">Авторизация</h1>
    </div>
    <div class="col-md-6">
      <div class="form-group has-error">
        <label for="">Ваша электронная почта*</label>
        <input type="text" class="input-style">
        <p class="error-msg">Ошибка</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group has-error">
        <label for="">Пароль*</label>
        <input type="text" class="input-style">
        <p class="error-msg">Ошибка</p>
      </div>
    </div>
    <div class="col-md-6 remember-me">
      <div class="form-group">
        <input type="checkbox" class="input-style">
        <span>Запомнить меня</span>
      </div>
    </div>
    <div class="col-md-6 lost-pass">
      <a href="#">Забыли пароль?</a>
    </div>
    <button type="submit" class="pop-btn">Войти</button>
  </div>
</div>
