<div class="create-work">
  <div class="create-title">
    <img src="img/create-work.png" alt="">
    <span>
Создание работы
    </span>
  </div>

  <div class="error-wrap" style="display:none">
    <div class="container">
      <p class="text-center">Ксожалению, вы уже использовали все возможности создания работы в творческом конкурсе</p>
    </div>
  </div>

  <div class="work-wrap clearfix">
    <div class="form-group work-name">
      <input type="text" class="input-style">
      <p class="error-msg">Ошибка</p>
    </div>
    <div class="block-row">
      <div class="create-photo-wrap">
        <div class="form-group has-error">
          <input type="file" id="file_input">
          <p class="error-msg">Ошибка</p>
        </div>
        <div class="preview">
          <img src="img/border-grey.png" alt="" class="border-grey">
          <img src="img/border-green.png" alt="" class="border-green">
          <!-- <img src="#" alt="" class="user-image"> -->
        </div>
        <div class="check-wrap">
          <div class="form-group">
            <input type="radio" name="border" id="check-1" checked="">
            <span></span>
            <label for="check-1">Без рамки</label>
          </div>
        </div>
        <div class="check-wrap">
          <div class="form-group">
            <input type="radio" name="border" id="check-2">
            <span></span>
            <label for="check-2">Серая рамка</label>
          </div>
        </div>
        <div class="check-wrap">
          <div class="form-group">
            <input type="radio" name="border" id="check-3">
            <span></span>
            <label for="check-3">Бирюзовая рамка</label>
          </div>
        </div>
      </div>
    </div>
    <div class="block-row right-row">
      <div class="work-steps clearfix">
        <div class="step">
          <span>1</span> Загрузите фотографию
        </div>
        <div class="step">
          <span>2</span> Выберете рамку
        </div>
        <div class="step">
          <span>3</span> Заполните поля
        </div>
        <div class="step">
          <span>4</span> Участвуйте в конкурсе
        </div>
      </div>
      <div class="info-wrap">
        <div class="breed clearfix">
          <div class="col-md-2 title-info-wrap">Порода</div>
          <div class="col-md-7 info-wrap-input">
            <div class="breed-name"></div>
          </div>
        </div>
        <div class="age clearfix">
          <div class="col-md-2 title-info-wrap">Возраст</div>
          <div class="col-md-4 info-wrap-input">
            <div class="age-cat"></div>
          </div>
        </div>
      </div>
      <button type="submit" class="continue-btn">Участвовать в конкурсе</button>
    </div>
  </div>
</div>
