<div class="feedback-wrapp">
  <div class="feedback-title text-center">Обратная связь</div>
  <div class="feedback-tel"><img src="img/feedback-tel.png" alt=""> Телефон службы поддержки Nestle <span>8 (495) 725-70-00</span></div>
  <div class="feedback-form">
    <div class="wrap clearfix">
      <div class="row">
        <div class="col-md-2">
          <div class="title-input">Тема обращения*</div>
        </div>
        <div class="col-md-5">
          <div class="form-group animal-age">
            <select name="" id="" class="select-style" data-placeholder="не удается ввести код с упаковки">
              <option value="">не удается ввести код с упаковки</option>
              <option value="">не удается ввести код с упаковки</option>
              <option value="">не удается ввести код с упаковки</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="title-input">ФИО*</div>
        </div>
        <div class="col-md-5">
          <div class="form-group has-error">
            <input type="text" class="input-style">
            <p class="error-msg">Ошибка</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="title-input">e-mail*</div>
        </div>
        <div class="col-md-5">
          <div class="form-group has-error">
            <input type="text" class="input-style">
            <p class="error-msg">Ошибка</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="title-input">Телефон*</div>
        </div>
        <div class="col-md-5">
          <div class="form-group has-error">
            <input type="text" class="input-style" id="phone">
            <p class="error-msg">Ошибка</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="title-input">Текст обращения*</div>
        </div>
        <div class="col-md-10">
          <div class="form-group has-error">
          <textarea type="text" rows="3"></textarea>
          <p class="error-msg">Ошибка</p>
        </div>
        </div>
      </div>
    </div>
    <button type="submit" class="continue-btn">Отправить</button>
  </div>
</div>
