<footer id="footer" class="wrapper footer">
  <div class="container-fluid">

    <ul class="foot-menu">
      <li><a href="#">Карта сайта</a></li><li><a href="#">Соглашение о конфиденциальности</a></li><li><a href="#">Правовая информация</a></li><li><a href="#">Контакты</a></li>
    </ul>
    <span class="register-num">рег.товарный знак Société des Produits Nestlé S.A.</span>

  </div>
</footer>
