<header id="header" class="wrapper header">
  <div class="red-label">
    <div class="container">
      <a href="http://www.purina.ru/ru/Pages/default.aspx" class="find-more" target="_blank">Узнайте больше о компании, которая производит Purina ONE®</a>
      <a href="http://www.purina.ru/ru/Pages/default.aspx" class="logo-mini" target="_blank">
        <img src="img/logo-mini.jpg" alt="Purina, Your Pet, Our Passion" title="Purina">
      </a>
    </div>
  </div>
  <div class="container">
    <a href="#" class="js-show-menu menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <nav class="menu">
      <ul class="">
        <li><a href="#">Форум Заботы PURINA ONE®</a></li>
        <li><a href="#">ОТЗЫВЫ О КОРМЕ PURINA ONE®</a></li>
        <li>
          <a href="#">Корм PURINA ONE®</a>
          <ul class="submenu">
            <li>
              Сухие корма
              <ul>
                <li>
                  Для котят
                  <ul>
                    <li><a href="#">с курицей и цельными злаками</a></li>
                  </ul>
                </li>
                <li>
                  Для взрослых кошек
                  <ul>
                    <li><a href="#">с курицей и цельными злаками</a></li>
                    <li><a href="#">с говядиной и пшеницей</a></li>
                  </ul>
                </li>
                <li>
                  Для кошек старше 11 лет
                  <ul>
                    <li><a href="#">с курицей и цельными злаками</a></li>
                  </ul>
                </li>
                <li>
                  Для кошек с чувствительным пищеварением
                  <ul>
                    <li><a href="#">с индейкой и рисом</a></li>
                  </ul>
                </li>
                <li>
                  Для домашних кошек
                  <ul>
                    <li><a href="#">с индейкой и цельными злаками</a></li>
                  </ul>
                </li>
                <li>
                  Для стерилизованных кошек
                  <ul>
                    <li><a href="#">с лососем и пшеницей</a></li>
                    <li><a href="#">с говядиной и пшеницей</a></li>
                  </ul>
                </li>
                <li>
                  Для красивой шерсти и контроля образования волосяных комков
                  <ul>
                    <li><a href="#">с курицей и цельными злаками</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Питание от экспертов </a></li>
        <li><a href="#">инфографика</a></li>
        <li><a href="#">Журнал</a></li>
        <li><a href="#">Видимый результат за день 21</a></li>
        <li class="promo"><a href="#">Промо</a></li>
      </ul>
    </nav>
  </div>
  <div class="search-bar">
    <div class="container">
      <div class="code-text-wrap">
        <span class="code-text">Введите код с упаковки Purina One®</span>
        <a href="#" class="quest-link"><img src="img/quest-link.png" alt=""></a>
      </div>
      <div class="form-wrap">
        <form action="" class="code-form">
          <div class="form-group has-error">
            <input type="text">
            <p class="error-msg">Ошибка</p>
          </div>
          <button type="submit">Зарегистрировать</button>
        </form>
        <div class="social-enter-wrap">
          <span>Войти через социальные сети:</span>
          <a href="#" class="icon-49469"></a>
          <a href="#" class="icon-49421"></a>
          <a href="#" class="icon-33702"></a>
        </div>
      </div>
      <a href="#" class="login-icon js-show-pop-up" data-atr="enter-club"><img src="img/login-btn.png" alt=""><span class="title">Вход/Регистрация</span></a>


    </div>
  </div>
</header>
