  <div class="index-wrapp">
    <div class="h1">
      Копите коды и получайте
      <span> гарантированные подарки </span> от Purina ONE®!
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="you-can">
            <div class="you-can-title">
              <span class="you-can-round">вы</span>
              <span class="you-can-border"> можете</span>
            </div>
            <div class="you-can-p">
              регистрировать коды, накапливать баллы и получать призы
            </div>
          </div>
          <div class="point-item">
            <div class="point-img">
              <img src="img/point-item-1.png" alt="">
            </div>
            <div class="point-text">
              <div class="point-text-title">1 балл</div>
              <div class="point-text-p">за упаковку 200admiring-reflection-img гр.</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="point-item">
            <div class="point-img">
              <img src="img/point-item-2.png" alt="">
            </div>
            <div class="point-text">
              <div class="point-text-title text-middle">3 балла</div>
              <div class="point-text-p">за упаковку 750 гр.</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="middle-cat">
            <img src="img/cat.png" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="admiring-reflection">
            <div class="admiring-reflection-text">
              Любуйтесь отражением здоровья уже через
            </div>
            <div class="admiring-reflection-img">
              <div class="days">
                21
                <span>День</span>
              </div>
              <img src="img/timer-index.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
      <div class="row prize-wrapp clearfix">
        <div class="col-xl-4 prize-item-wrap">
          <div class="prize-item">
            <div class="prize-item-img">
              <div class="img-wrap">
                <img src="img/prize-item-1.png" alt="">
                <div class="rnd-item">
                  <div class="rnd">
                    6
                    <span>баллов</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="prize-item-text">
              Миска для корма, которая понравится вашей кошке
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-xl-4 prize-item-wrap">
          <div class="prize-item">

            <div class="prize-item-img">
              <div class="img-wrap">
                <img src="img/prize-item-2.png" alt="">
                <div class="rnd-item">
                  <div class="rnd">
                    12
                    <span>баллов</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="prize-item-text">
              Удобный лежак, который незаменим для уютных вечеров
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-xl-4 prize-item-wrap">
          <div class="prize-item item-last">
            <div class="prize-item-img">
              <img src="img/prize-item-3.png" alt="">
            </div>
            <a href="#" class="prize-item-btn">Участвовать</a>
            <div class="prize-item-text">
              Розыгрыш пяти наборов годового запаса корма в неделю
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      </div>
      <!-- <div class="guaranteed-gifts">Гарантированные подарки</div> -->
    </div>
    <!-- <a href="#" class="js-show-pop-up" data-atr="enter-club">Войти</a> -->
  </div>
