<div class="konkurs">
  <div class="konkurs-head">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="audition-h1">
            Творческий конкурс «Отражение здоровья за 21 день»
          </div>
          <div class="audition-h2">
            Примите участие в творческом конкурсе – покажите, <br>что <span> ваша кошка в отличной форме!</span>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="audition-item">
                <div class="audition-item-img">
                  <img src="img/audition-item-1.png" alt="">
                </div>
                Зарегистрируйте
                промо-код с упаковки
                корма Purina ONE®.
              </div>
            </div>
            <div class="col-sm-4">
              <div class="audition-item">
                <div class="audition-item-img">
                  <img src="img/audition-item-2.png" alt="">
                </div>
                Загрузите свою фотографию
                с питомцем в зеркальную рамку, а наше жюри выберет 20 лучших отражений.
              </div>
            </div>
            <div class="col-sm-4">
              <div class="audition-item">
                <div class="audition-item-img">
                  <img src="img/audition-item-3.png" alt="">
                </div>
                Победители получат годовой запас корма Purina ONE®, чтобы их питомцы излучали здоровье круглый год!
              </div>
            </div>
            <div class="col-sm-12">
              <a href="#" class="participate-btn">Участвовать</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="konkurs-cat">
            <img src="img/konkurs-cat.png" alt="">
            <div class="competition-wrapp">
              <a href="#" class="competition-btn">юридические правила конкурса</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
<!--     <div class="konkurs-title text-center">
      Творческий конкурс
    </div> -->
  <div class="sort-wrap">
    <div class="container">
      <!-- <div class="sort-title">
        Сортировать
        <a href="#" class="sort-select">
          по категориям
          <img src="img/sort-title-arr.png" alt="">
        </a>
        <ul class="sort-select-hide">
          <li><a href="#">по категориям</a></li>
          <li><a href="#">новые</a></li>
          <li><a href="#">по рейтенгу</a></li>
        </ul>
      </div> -->
      <div class="sort-search">
        <form action="">
          <input type="text" class="search-input" placeholder="искать работу">
          <button type="submit" name="button" class="search-btn"></button>
        </form>

      </div>
    </div>
  </div>
  <div class="konkurs-tabs">
    <div class="container">
      <a href="#" class="active">все</a>
      <a href="#">новые</a>
      <a href="#">По рейтенгу</a>
    </div>
  </div>

  <div class="container">
    <div class="grid">

      <div class="grid-sizer"></div>

      <div class="grid-item">
        <div class="img-wrap">
          <img src="img/masonry-2.jpg" alt="">
          <div class="social-wrap-konkurs">
            <a href="img/masonry-2.jpg" class="look-more fancybox"></a>
            <a href="#" class="share"></a>
            <a href="#" class="like">
              <span>289</span>
            </a>
          </div>
        </div>
      </div>

      <div class="grid-item">
        <div class="img-wrap grey-border">
          <img src="img/masonry-1.jpg" alt="">
          <div class="social-wrap-konkurs">
            <a href="img/masonry-1.jpg" class="look-more fancybox"></a>
            <a href="#" class="share"></a>
            <a href="#" class="like">
              <span>289</span>
            </a>
          </div>
        </div>
      </div>

      <div class="grid-item">
        <div class="img-wrap green-border">
          <img src="img/masonry-3.jpg" alt="">
          <div class="social-wrap-konkurs">
            <a href="img/masonry-3.jpg" class="look-more fancybox"></a>
            <a href="#" class="share"></a>
            <a href="#" class="like">
              <span>289</span>
            </a>
          </div>
        </div>
      </div>

      <div class="grid-item">
        <div class="img-wrap">
          <img src="img/masonry-2.jpg" alt="">
          <div class="social-wrap-konkurs">
            <a href="img/masonry-2.jpg" class="look-more fancybox"></a>
            <a href="#" class="share"></a>
            <a href="#" class="like">
              <span>289</span>
            </a>
          </div>
        </div>
      </div>

      <div class="grid-item">
        <div class="img-wrap">
          <img src="img/masonry-1.jpg" alt="">
          <div class="social-wrap-konkurs">
            <a href="img/masonry-1.jpg" class="look-more fancybox"></a>
            <a href="#" class="share"></a>
            <a href="#" class="like">
              <span>289</span>
            </a>
          </div>
        </div>
      </div>

      <div class="grid-item">
        <div class="img-wrap">
          <img src="img/masonry-3.jpg" alt="">
          <div class="social-wrap-konkurs">
            <a href="img/masonry-3.jpg" class="look-more fancybox"></a>
            <a href="#" class="share"></a>
            <a href="#" class="like">
              <span>289</span>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
