<div class="lk">
  <div class="lk-title">
    <img src="img/lk-title.png" alt="">
    <span class="lk-title-text">
      Личный кабинет
    </span>
  </div>

  <div class="lk-head-wrap clearfix">
    <span class="left-title">Ваш личный кабинет</span>
    <a href="#" class="change-profile">редактировать личные данные</a>
    <div class="stats clearfix">
      <a href="#" class="points"><span class="rnd-wrap">7 <span>балов</span></span>
        <span class="pop-up">
          <ul>
            <li>
              <span class="img-wrap">
              <img src="img/pack-big.png" alt="">
              </span>
              <span class="prize-wrap">
              <span class="prize">
                <span class="prize-name">
                  <span>2</span>
                  упаковки
                </span><br>
              </span>
              <span class="item-weight">по 750 гр.</span>
            </span>
            </li>
            <li>
              <span class="img-wrap">
              <img src="img/pack-small.png" alt="">
              </span>
              <span class="prize-wrap">
              <span class="prize">
                <span class="prize-name">
                  <span>2</span>
                  упаковки
                </span><br>
              </span>
              <span class="item-weight">по 200 гр.</span>
            </span>
            </li>
          </ul>

        </span>
      </a>
      <a href="#" class="codes"><span class="rnd-wrap">3 <span>кода</span></span></a>
      <a href="#" class="gifts">

        <span class="rnd-wrap">
          <span class="background">
          </span>
        <span class="gift-num">1</span>

        </span>
      </a>
    </div>
  </div>

  <div class="lk-body">
    <div class="col-md-6">
      <div class="download-wrap clearfix">
        <div class="clearfix">
          <div class="col-md-4 links"><a href="#">Скачать</a></div>
          <div class="col-md-8">Расписка на получение приза</div>
        </div>
        <div class="clearfix">
          <div class="col-md-4 links"><a href="#">Скачать</a></div>
          <div class="col-md-8">Анкета приема-передачи приза победителю</div>
        </div>
        <div class="clearfix">
          <div class="col-md-4 links"><a href="#">Напишите нам</a></div>
          <!-- <div class="col-md-8">Анкета приема-передачи приза победителю</div> -->
        </div>
      </div>



      <div class="input-wrap clearfix">
        <div class="col-md-4">Имя*</div>
        <div class="col-md-8">
          <div class="form-group width-fix has-error">
            <input type="text" class="input-style">
            <p class="error-msg">Ошибка валидации</p>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">E-mail*</div>
        <div class="col-md-8">
          <div class="form-group width-fix has-error">
            <input type="text" class="input-style">
            <p class="error-msg">Ошибка валидации</p>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Дата рождения</div>
        <div class="col-md-8 birthday">
          <div class="form-group">
            <select name="" id="" class="select-style" data-placeholder="">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
              <option value="">10</option>
              <option value="">11</option>
              <option value="">12</option>
              <option value="">13</option>
              <option value="">22</option>
              <option value="">23</option>
              <option value="">24</option>
              <option value="">25</option>
              <option value="">26</option>
              <option value="">27</option>
              <option value="">28</option>
              <option value="">29</option>
            </select>



            <p class="error-msg">Ошибка валидации</p>
          </div>

          <div class="form-group">
            <select name="" id="" class="select-style" data-placeholder="">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
              <option value="">6</option>
              <option value="">7</option>
              <option value="">8</option>
              <option value="">9</option>
              <option value="">10</option>
              <option value="">11</option>
              <option value="">12</option>
            </select>
          </div>

          <div class="form-group">
            <select name="" id="" class="select-style" data-placeholder="">
              <option value="">2005</option>
              <option value="">2004</option>
              <option value="">2003</option>
              <option value="">2002</option>
              <option value="">2001</option>
              <option value="">2000</option>
              <option value="">1999</option>
              <option value="">1998</option>
              <option value="">1997</option>
              <option value="">1996</option>
              <option value="">1995</option>
              <option value="">1994</option>
            </select>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix country">
        <div class="col-md-4">Страна</div>
        <div class="col-md-8">
          Российская Федерация
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Регион</div>
        <div class="col-md-8">
          <div class="form-group width-fix">
            <input type="text" class="input-style" id="autocomplete-region">
            <p class="error-msg">Ошибка валидации</p>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Город</div>
        <div class="col-md-8">
          <div class="form-group width-fix">
            <input type="text" class="input-style" id="autocomplete-town">
            <p class="error-msg">Ошибка валидации</p>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Улица</div>
        <div class="col-md-8">
          <div class="form-group width-fix">
            <input type="text" class="input-style" id="autocomplete-street">
            <p class="error-msg">Ошибка валидации</p>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Дом</div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="input-style">
                <p class="error-msg">Ошибка валидации</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Корпус</div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="input-style">
                <p class="error-msg">Ошибка валидации</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Строение</div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="input-style">
                <p class="error-msg">Ошибка валидации</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Квартира</div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="input-style">
                <p class="error-msg">Ошибка валидации</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Индекс</div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="input-style">
                <p class="error-msg">Ошибка валидации</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-wrap clearfix">
        <div class="col-md-4">Пароль</div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group password">
                <input type="text" class="input-style">
                <p class="error-msg">Ошибка валидации</p>
              </div>
            </div>
            <a href="#" class="change-pass">изменить пароль</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 right-list">
      <div class="row">
        <div class="konkurs-list">
          <div class="title-list">
            Список работ для творческого конкурса
          </div>
          <div class="list-wrap">
            <a href="#" class="sort-link good">одобрена</a>
            <a href="#" class="sort-link bad">отклонена</a>
            <a href="#" class="sort-link wait">в процессе</a>
          </div>
          <div class="images-row">

            <div class="col-sm-6 images good">
              <div class="img-wrap">
                <div class="image-parent-wrap">
                  <img src="img/lk-1.jpg" alt="">
                </div>
                <div class="icon-rate">
                  <div class="background"></div>
                </div>

                <div class="icon-num">
                  <div class="background">12<span>балов</span></div>
                </div>

                <a href="#" class="add-points">
                  <div class="background">добавить <br> балы</div>
                </a>
              </div>
            </div>

            <div class="col-sm-6 images bad">
              <div class="img-wrap">
                <div class="image-parent-wrap">
                  <img src="img/masonry-3.jpg" alt="">
                </div>
                <div class="icon-rate">
                  <div class="background"></div>
                </div>

                <div class="icon-num">
                  <div class="background">0<span>балов</span></div>
                </div>

                <a href="#" class="add-points">
                  <div class="background">добавить <br> балы</div>
                </a>
              </div>
            </div>


            <div class="col-sm-6 images">
              <div class="img-wrap">
                <div class="image-parent-wrap">
                  <img src="img/lk-3.jpg" alt="">
                </div>
                <div class="icon-look">
                  <div class="background"></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 show-more">
              <!-- <div class="background"></div> -->

              <div class="wrap">
                <div class="link">
                  <a href="#">
              Показать <br> еще <i class="show-more-icon"></i>
              </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
