<div class="new-pass">
  <div class="container">
    <div class="col-sm-6">
      <div class="form-group has-error">
        <label for="">Введите пароль</label>
        <input type="text" class="input-style">
        <p class="error-msg">Текст ошибки</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <div class="form-group has-error">
        <label for="">Повторите пароль</label>
        <input type="text" class="input-style">
        <p class="error-msg">Текст ошибки</p>
      </div>
    </div>
    <div class="col-sm-12">
      <button class="submit-btn-dfl">Изменить пароль</button>
    </div>
  </div>
</div>
