<div class="offer">
  <div class="offer-title">
    <img src="img/offer-title.png" alt="">
    <span class="offer-title-text">
      Как принять участие в акции?
    </span>
    <span class="offer-sub-title">
      *Регистрация кодов с упаковок производится в период с 01 апреля 2016 года по 30 сентября 2016
    </span>
    <div class="link-title">
      <a href="#">Скачать полные правила</a><span>(PDF, 300 КБ)</span>
    </div>
  </div>

  <div class="steps clearfix">
    <div class="col-md-4 steps-wrap">
      <div class="step-num">
        Шаг
        <span>
          1
        </span>
      </div>
      <div class="step-text">
        Покупайте
        <br> промо-упаковки
        <br> корма Purina ONE®
      </div>
      <img src="img/step-1.png" alt="">
    </div>

    <div class="col-md-4 steps-wrap">
      <div class="step-num">
        Шаг
        <span>
          2
        </span>
      </div>
      <div class="step-text">
        Регистрируйте коды,
        <br> которые находится внутри
        <br> упаковки на сайте*

      </div>
      <img src="img/step-2.png" alt="">
    </div>

    <div class="col-md-4 steps-wrap">
      <div class="step-num">
        Шаг
        <span>
          3
        </span>
      </div>
      <div class="step-text">
        Получайте гарантированные
        <br> подарки и участвуйте
        <br> в розыгрыше годового запаса
        <br> корма для Вашей кошки

      </div>
      <img src="img/step-3.png" alt="">
    </div>

  </div>
</div>
