<div class="pop-ups">
  <div class="pop-up-overlay"></div>

  <div class="pop-up enter-club">
    <a href="#" class="close js-close-pop-up"></a>

    <div class="wrap-pop-up">
      <div class="title">
        Авторизация
      </div>
      <div class="social-network-wrap">
        Вы можете ввойти как пользователь социальных сетей
        <div class="social-wrap">
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
        </div>
      </div>
      <div class="sub-title">
        Или как пользователь <a href="#">promo.purinaone.ru</a>
      </div>


      <div class="wrap clearfix">
        <div class="row">
          <div class="col-md-6">
            <div class="title-input">Ваша электронная почта*</div>
            <div class="form-group ">
              <input type="text" class="input-style">

              <p class="error-msg">Введите e-mail</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="title-input">Ваш пароль*</div>
            <div class="form-group ">
              <input type="password" class="input-style">

              <p class="error-msg">Введите пароль</p>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap clearfix remember-wrap">
        <div class="row">
          <div class="col-md-6 remember-me">
            <div class="form-group">
              <input type="checkbox" class="input-style">
              <span>Запомнить меня</span>
            </div>
          </div>
          <div class="col-md-6 lost-pass">
            <a href="#">Забыли пароль?</a>
          </div>
        </div>
      </div>
      <div class="wrap clearfix">
        <button type="submit" class="continue-btn">Войти</button>
      </div>
      <div class="foot-wrap">
        <span>Если у вас нет аккаунта, пожалуйста <a href="#">Зарегестрируйтесь</a></span>
      </div>
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up social-enter">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="wrap-pop-up">
      <div class="title">
        Выберите социальную сеть,
        <br> в которой Вы хотите поделиться фотографией
      </div>
      <div class="social-wrap">
        <a href="#"><img src="" alt=""></a>
        <a href="#"><img src="" alt=""></a>
        <a href="#"><img src="" alt=""></a>
        <a href="#"><img src="" alt=""></a>
      </div>
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up moderation">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="wrap-pop-up">
      <div class="title">
        Ваша работа
        <br> отправлена на модерацию
      </div>
    </div>
  </div>

  <!--************************************************************************************************-->


  <div class="pop-up code">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="wrap-pop-up">
      <div class="title">
        Введите код с упаковки
        <a href="#"><img src="img/quest-link-big.png" alt=""></a>
      </div>
      <div class="form-group">
        <input type="text">
        <p class="error-msg">Ошибка валидации</p>
      </div>
      <button type="submit" class="pop-btn">Отправить</button>
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up repair">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="wrap-pop-up">
      <div class="title">
        Восстановление пароля
      </div>
      <div class="sub-title">
        Для восстановления пароля введите адрес электронной почты,
        <br> указанный при регистрации
      </div>
      <div class="form-group">
        <input type="text">
        <p class="error-msg">Ошибка валидации</p>
      </div>
      <button type="submit" class="pop-btn">Отправить</button>
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up welcome">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="main-title">
      <span>Катя</span>, добро пожаловать на промо страницу!
    </div>
    <div class="steps clearfix">
      <div class="step">
        <span>1</span> Вводите промо коды
      </div>
      <div class="step">
        <span>2</span> Копите баллы
      </div>
      <div class="step">
        <span>3</span> Выигрывайте
        <br> гарантированные
        <br> подарки
      </div>
    </div>
    <div class="foot-welcome">
      <div class="title-welcome">Участвуйте в розыгрыше
        <br> годового запаса корма
      </div>
      <div class="sub-title-welcome">
        Для этого вам необходимо принять участие в конкурсе «Отражение здоровья за 21 день», загрузив свою фотографию с питомцем
      </div>
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up year-supply">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="main-title"> Поздравляем, <br> вы выиграли годовой запас корма Purina ONE®!<br> <span>Выберите корм, подходящий вашей кошке:</span></div>
    <form id="resend-email-form" action="/cabinet/choose-year-supply" method="post">
        <input name="_csrf" value="bmYwUVdvbS0nFQglAxU9Hjo1dxdlDi5oOTMJByQFKVUNFQZlAiYfdQ==" type="hidden">
        <div class="form-group field-yearsupplyform-corm required has-success">
            <input name="YearSupplyForm[corm]" value="" type="hidden">
            <div id="yearsupplyform-corm">
                <label><input name="YearSupplyForm[corm]" value="0" type="radio"> Purina ONE® для домашних кошек с индейкой <span></span></label>
                <label><input name="YearSupplyForm[corm]" value="1" type="radio"> Purina ONE® для стерилизованных кошек и котов с говядиной<span></span></label>
                <label><input name="YearSupplyForm[corm]" value="2" type="radio"> Purina ONE® для взрослых кошек (старше 1 года) с курицей<span></span></label>
                <label><input name="YearSupplyForm[corm]" value="3" type="radio"> Purina ONE® для котят с курицей<span></span></label>
                <label><input name="YearSupplyForm[corm]" value="4" type="radio"> Purina ONE® для кошек с чувствительным пищеварением с индейкой<span></span></label>
                <label><input name="YearSupplyForm[corm]" value="5" type="radio"> Purina ONE® для кошек старше 11 лет с курицей<span></span></label>
                <label><input name="YearSupplyForm[corm]" value="6" type="radio"> Purina ONE® для красивой шерсти и контроля образования волосяных комков с курицей<span></span></label>
            </div>
            <p class="error-msg help-block"></p>
        </div>
        <button type="button" class="pop-btn">Выбрать</button>
    </form>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up dfl-msg-pop password-repair">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="message">
      Пароль успешно изменён
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up dfl-msg-pop congrast">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="message">
      Поздравляем, Вы накопили 12 баллов!
      Вы можете получить гарантированные призы: лежак или 2 миски для кошки.
      Пожалуйста, сделайте выбор в личном кабинете на странице с подарками.
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up dfl-msg-pop points-info">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="message">
      Уважаемые пользователи!
      <br><br>
      При участии в творческом конкурсе, баллы за регистрацию промо-кодов на Вашем счете автоматически переводятся в бонусные лайки к одной из Ваших работ.
      <br><br>
      Пожалуйста, выберите работу в <a href="#">личном кабинете</a>, на которую мы начислим бонусные лайки. Желаем победы!
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up dfl-msg-pop rules">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="message">
      Согласно правилам акции в конкурсе могут участвовать только 3 работы одного пользователя
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up dfl-msg-pop image">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="text-center">
      <img src="img/step-2.png" alt="">
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up dfl-msg-pop autorisation">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="message">
      Для участия в творческом конкурсе необходимо <a href="#">авторизоватся</a>
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up dfl-msg-pop rating">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="message">
      Чтобы оценивать работы Вам необходимо <a href="#">авторизоватся</a>
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up dfl-msg-pop error">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title text-center">
      ОШИБКА
    </div>
    <div class="message">
      Вы уже зарегистрированы в системе!
      <br>
      <br>
      <a href="#">Войдите</a> на сайт, чтобы продолжить, или воспользуйтесь функцией <a href="#">Сбросить пароль</a>.
    </div>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up dfl-msg-pop animal" >
    <a href="#" class="close js-close-pop-up"></a>
    <div class="message">
      <div class="form-group chose-animal">
        <div class="form-group field-signupform-animal required has-error">
          <div class="title-input">Выберете животное:</div>
          <div id="signupform-animal">
            <div class="radio">
              <label>
                <input name="SignupForm[animal]" value="1" type="radio">
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="SignupForm[animal]" value="2" type="radio">
              </label>
            </div>
          </div>
          <p class="error-msg help-block">Значение «Animal» должно быть равно «1» или «0».</p>
        </div>
      </div>
      <button type="submit" class="pop-btn">Выбрать</button>
    </div>
  </div>



  <!--************************************************************************************************-->

  <div class="pop-up winner-pop-up main">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title">
      Чтобы забрать приз,
      <br> необходимо заполнить следующие данные
    </div>
    <div class="name-wrap clearfix">
      <div class="col-sm-12">
        Имя, фамилия, отчество
        <div class="form-group has-error">
          <input type="text" class="input-style">
          <p class="error-msg">Ошибка</p>
        </div>
      </div>
    </div>
    <div class="input-wrap clearfix">
      <div class="col-md-3">Дата рождения</div>
      <div class="col-md-4">
        <div class="form-group width-fix">
          <input type="text" class="input-style" id="autocomplete-region">
          <p class="error-msg">Ошибка валидации</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">Почтовый адрес для отправки приза</div>
    <div class="input-wrap clearfix country">
      <div class="col-md-3">Страна</div>
      <div class="col-md-8">
        Российская Федерация
      </div>
    </div>
    <div class="input-wrap clearfix">
      <div class="col-md-3">Регион</div>
      <div class="col-md-8">
        <div class="form-group width-fix">
          <input type="text" class="input-style" id="autocomplete-region">
          <p class="error-msg">Ошибка валидации</p>
        </div>
      </div>
    </div>
    <div class="input-wrap clearfix">
      <div class="col-md-3">Город</div>
      <div class="col-md-8">
        <div class="form-group width-fix">
          <input type="text" class="input-style" id="autocomplete-town">
          <p class="error-msg">Ошибка валидации</p>
        </div>
      </div>
    </div>

    <div class="input-wrap clearfix">
      <div class="col-md-3">Улица</div>
      <div class="col-md-8">
        <div class="form-group width-fix">
          <input type="text" class="input-style" id="autocomplete-street">
          <p class="error-msg">Ошибка валидации</p>
        </div>
      </div>
    </div>

    <div class="input-wrap clearfix">
      <div class="col-md-3">Дом</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error">
              <input type="text" class="input-style">
              <p class="error-msg">Ошибка валидации</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-wrap clearfix">
      <div class="col-md-3">Корпус</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error">
              <input type="text" class="input-style">
              <p class="error-msg">Ошибка валидации</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-wrap clearfix">
      <div class="col-md-3">Строение</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error">
              <input type="text" class="input-style">
              <p class="error-msg">Ошибка валидации</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-wrap clearfix">
      <div class="col-md-3">Квартира</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error">
              <input type="text" class="input-style">
              <p class="error-msg">Ошибка валидации</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-wrap clearfix">
      <div class="col-md-3">Индекс</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error">
              <input type="text" class="input-style">
              <p class="error-msg">Ошибка валидации</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-wrap clearfix">
      <div class="col-md-3">Телефон</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-error">
              <input type="text" class="input-style">
              <p class="error-msg">Ошибка валидации валидации</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-wrap clearfix">
      <div class="col-md-3">Ваш адрес</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-error">
              <input type="text" class="input-style" placeholder="e-mail">
              <p class="error-msg">Ошибка валидации</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="passport-wrap clearfix">
      <div class="col-sm-8">
        Паспортные данные
        <div class="form-group has-error">
          <input type="text" class="input-style" placeholder="Номер паспорта кем выдан">
          <p class="error-msg">Ошибка</p>
        </div>
      </div>

      <div class="col-sm-4 passport-input">
        <div class="form-group has-error">
          <span class="show-tip">скан-копия первой страницы паспорта</span>
          <input type="file" class="" id="fileInput" multiple>
          <p class="error-msg">Ошибка</p>
          <span class="tip">При получении главного приза – годового запаса корма, необходимо загрузить скан-копию первой страницы паспорта и страницы с пропиской.</span>
        </div>

        <div class="file-list"></div>
      </div>
    </div>

    <div class="passport-wrap clearfix">
      <div class="col-sm-8">
        Данные свидетельства ИНН
        <div class="form-group has-error">
          <input type="text" class="input-style">
          <p class="error-msg">Ошибка</p>
        </div>
      </div>
    </div>
    <button type="submit" class="pop-btn">Отправить</button>
  </div>

  <!--************************************************************************************************-->

  <div class="pop-up winner-pop-up small">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title">
      Чтобы забрать приз,
      <br> необходимо заполнить следующие данные
    </div>
    <div class="name-wrap clearfix">
      <div class="col-sm-12">
        Имя, фамилия, отчество
        <div class="form-group">
          <input type="text" class="input-style">
          <p class="error-msg">Ошибка</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">Почтовый адрес для отправки приза</div>
    <div class="input-wrap clearfix country">
      <div class="col-md-3">Страна</div>
      <div class="col-md-8">
        Российская Федерация
      </div>
    </div>

    <div class="input-wrap clearfix">
      <div class="col-md-3">Город</div>
      <div class="col-md-8">
        <div class="form-group width-fix">
          <input type="text" class="input-style" id="autocomplete-town">
          <p class="error-msg">Ошибка валидации</p>
        </div>
      </div>
    </div>
    <div class="input-wrap clearfix">
      <div class="col-md-3">Улица</div>
      <div class="col-md-8">
        <div class="form-group width-fix">
          <input type="text" class="input-style" id="autocomplete-street">
          <p class="error-msg">Ошибка валидации</p>
        </div>
      </div>
    </div>


    <div class="input-wrap clearfix">
      <div class="col-md-3">Индекс</div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="input-style">
          <p class="error-msg">Ошибка валидации</p>
        </div>
      </div>
    </div>
    <div class="input-wrap clearfix">
      <div class="col-md-3">Телефон</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <input type="text" class="input-style">
              <p class="error-msg">Ошибка валидации</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="input-wrap clearfix">
      <div class="col-md-3">Ваш адрес</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <input type="text" class="input-style" placeholder="e-mail">
              <p class="error-msg">Ошибка валидации</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="pop-btn">Отправить</button>
  </div>
</div>
