<div class="lk">
  <div class="lk-title">
    <img src="img/lk-title.png" alt="">
    <span class="lk-title-text">
      Личный кабинет
    </span>
  </div>

  <div class="lk-head-wrap clearfix">
    <span class="left-title">Ваш личный кабинет</span>
    <a href="#" class="change-profile">редактировать личные данные</a>
    <div class="stats clearfix">
      <a href="#" class="points"><span class="rnd-wrap">7 <span>балов</span></span>
        <span class="pop-up">
          <ul>
            <li>
              <span class="img-wrap">
              <img src="img/pack-big.png" alt="">
              </span>
              <span class="prize-wrap">
              <span class="prize">
                <span class="prize-name">
                  <span>2</span>
                  упаковки
                </span><br>
              </span>
              <span class="item-weight">по 750 гр.</span>
            </span>
            </li>
            <li>
              <span class="img-wrap">
              <img src="img/pack-small.png" alt="">
              </span>
              <span class="prize-wrap">
              <span class="prize">
                <span class="prize-name">
                  <span>2</span>
                  упаковки
                </span><br>
              </span>
              <span class="item-weight">по 200 гр.</span>
            </span>
            </li>
          </ul>

        </span>
      </a>
      <a href="#" class="codes"><span class="rnd-wrap">3 <span>кода</span></span></a>
      <a href="#" class="gifts">

        <span class="rnd-wrap">
          <span class="background">
          </span>
        <span class="gift-num">1</span>

        </span>
      </a>
    </div>
  </div>

  <div class="lk-body presents-main">
    <div class="container">
      <div class="present-title">
        Вы можете потратить баллы на подарок сейчас или продолжить копить их на другие призы. Ограничение по количеству подарков для одного пользователя и механику накопления баллов смотрите в правилах акции.
      </div>
      <div class="link-title">
        <a href="#">Скачать полные правила</a><span>(PDF, 300 КБ)</span>
      </div>
      <div class="presents-wrapper">
        <div class="col-md-4 presents">
          <div class="rnd-item">
            <div class="rnd">
              6
              <span>баллов</span>
            </div>
          </div>

          <div class="present-img">
            <img src="img/present-1.png" alt="">
          </div>
          <div class="present-name">
            Миска для корма
          </div>
          <a href="#" class="get-present">Получить подарок</a>
        </div>
        <div class="col-md-4 presents">
          <div class="rnd-item un-active">
            <div class="rnd">
              2
              <span>Недели</span>
            </div>
          </div>

          <div class="present-img">
            <img src="img/present-2.png" alt="">
          </div>
          <div class="present-name">
            Участвуйте в творческом конкурсе и получайте годовой запас корма Purina ONE®
          </div>
        </div>
        <div class="col-md-4 presents">
          <div class="rnd-item un-active">
            <div class="rnd">
              12
              <span>Балов</span>
            </div>
          </div>

          <div class="present-img">
            <img src="img/present-3.png" alt="">
          </div>
          <div class="present-name">
            Лежак для кошки
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
