<div class="register">
    <div class="register-head">
        <div class="wrap clearfix">
            <!-- <div class="logo-wrap">
              <img src="img/sidebar-logo.svg" alt="">
            </div> -->

            <div class="register-title">
                Регистрация. Давайте знакомиться
            </div>

            <div class="progress-bar">
                <div class="steps">
                    <div class="step active"></div>
                    <div class="step"></div>
                    <div class="step"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 1 step  BEGIN-->
    <div class="register-form step-1">
        <div class="wrap clearfix">
            <div class="col-md-6">
                <div class="form-group has-error">
                    <div class="title-input">Как Вас зовут?<span>*</span>:</div>
                    <input type="text" class="input-style">

                    <p class="error-msg">Ошибка валидации</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-error">
                    <div class="title-input">Ваша электронная почта<span>*</span>:</div>
                    <input type="text" class="input-style">

                    <p class="error-msg">Ошибка валидации</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-error">
                    <div class="title-input">Придумайте пороль для входа<span>*</span>:</div>
                    <input type="text" class="input-style">

                    <p class="error-msg">Ошибка валидации</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group chose-animal">

                    <div class="title-input">Выберете животное<span>*</span>:</div>

                    <div class="form-group field-signupform-cat required">
                        <input name="SignupForm[cat]" value="0" type="hidden"><label><input id="signupform-cat" name="SignupForm[cat]" value="1" type="checkbox"> </label>
                        <p class="error-msg help-block"></p>
                    </div>
                    <div class="form-group field-signupform-dog">
                        <input name="SignupForm[dog]" value="0" type="hidden"><label><input id="signupform-dog" name="SignupForm[dog]" value="1" type="checkbox"> </label>
                        <p class="error-msg help-block"></p>
                    </div>
                    <div class="remove">
                        <a href="#" class="js-remove-animal"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="social-enter">
                    <div class="title-input">Войти через социальные сети:</div>
                    <a href="#"><img src="img/ok.jpg" alt=""></a>
                    <a href="#"><img src="img/fb.jpg" alt=""></a>
                    <a href="#"><img src="img/vk.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <button type="submit" class="continue-btn">ПРОДОЛЖИТЬ</button>
    </div>
    <!-- 1 step  END-->
    <!-- 2 step  BEGIN-->
    <div class="register-form step-2">
        <div class="wrap clearfix">

            <div class="form-group has-error">
                <div class="title-input">Ваш телефон?</div>
                <input type="text" id="phone" class="input-style">

                <p class="error-msg">Ошибка валидации</p>
            </div>

            <div class="form-group has-error birthday">
                <div class="title-input">Ваша дата рождения?</div>
                <input type="text" type="text" class="form-control datepicker input-style"/>

                <p class="error-msg">Ошибка валидации</p>
            </div>
        </div>
        <button type="submit" class="continue-btn">ПРОДОЛЖИТЬ</button>
    </div>
    <!-- 2 step  END-->
    <!-- 3 step  END-->
    <div class="register-form step-3 clearfix">
        <div class="container">
            <div class="col-md-6">
                <a href="#" class="js-add-animal add-animal">Добавить животное</a>
            </div>
        </div>
        <div class="wrap clearfix animal-form base">
            <div class="col-md-6">
                <div class="form-group has-error">
                    <div class="title-input">Животное</div>
                    <input type="text" class="input-style">

                    <p class="error-msg">Ошибка валидации</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-error">
                    <div class="title-input">Порода животного</div>
                    <input type="text" class="input-style">

                    <p class="error-msg">Ошибка валидации</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-error">
                    <div class="title-input">Имя животного</div>
                    <input type="text" class="input-style">

                    <p class="error-msg">Ошибка валидации</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-error sex-animal">
                    <div class="title-input">Пол животного:</div>
                    <select name="" id="" class="select-style" data-placeholder="">
                        <option value="">Январь</option>
                        <option value="">Февраль</option>
                    </select>

                    <p class="error-msg">Ошибка валидации</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-error animal-age">
                    <div class="title-input">Возраст животного:</div>
                    <select name="" id="" class="select-style" data-placeholder="Месяц">
                        <option value="">Январь</option>
                        <option value="">Февраль</option>
                        <option value="">Март</option>
                        <option value="">Апрель</option>
                        <option value="">Май</option>
                        <option value="">Июнь</option>
                        <option value="">Июль</option>
                        <option value="">Август</option>
                        <option value="">Сентябрь</option>
                        <option value="">Октябрь</option>
                        <option value="">Ноябрь</option>
                        <option value="">Декабрь</option>
                    </select>

                    <select name="" id="" class="select-style" data-placeholder="Год">
                        <option value="">Январь</option>
                        <option value="">Февраль</option>
                        <option value="">Март</option>
                        <option value="">Апрель</option>
                        <option value="">Май</option>
                        <option value="">Июнь</option>
                        <option value="">Июль</option>
                        <option value="">Август</option>
                        <option value="">Сентябрь</option>
                        <option value="">Октябрь</option>
                        <option value="">Ноябрь</option>
                        <option value="">Декабрь</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-error specials">
                    <div class="title-input">Особенности животного:</div>
                    <select name="" id="" class="select-style" data-placeholder="">
                        <option value="">Январь</option>
                        <option value="">Февраль</option>
                        <option value="">Март</option>
                        <option value="">Апрель</option>
                        <option value="">Май</option>
                        <option value="">Июнь</option>
                        <option value="">Июль</option>
                        <option value="">Август</option>
                        <option value="">Сентябрь</option>
                        <option value="">Октябрь</option>
                        <option value="">Ноябрь</option>
                        <option value="">Декабрь</option>
                    </select>

                    <p class="error-msg">Ошибка валидации</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-error chose-animal birthday">
                    <div class="title-input">Дата рождения животного:</div>
                    <input type="text" class="input-style">

                    <p class="error-msg">Ошибка валидации</p>
                </div>
            </div>
            <div class="col-md-6 checkboxes">
                <div class="form-group has-error">

                    <div class="checkbox-wrap">
                        <input type="checkbox" name="name" value="">
                        <span>Соглашаюсь на обработку персональных данных</span>
                    </div>
                    <div class="checkbox-wrap">
                        <input type="checkbox" name="name" value="">
                        <span>Получать рассылку от Purina®</span>
                    </div>
                    <div class="checkbox-wrap">
                        <div class="form-group has-error">
                            <input type="checkbox" name="name" value="">
              <span>
              Нажимая на кнопку «Завершить регистрацию»,
              я принимаю условия <a href="#">Пользовательского соглашения</a>
              <p class="error-msg">Ошибка валидации</p>
            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="reg-text">
                При заполнении информации мы сможем присылать персональные специальные предложения
            </div>
        </div>
        <div class="col-md-6 text-right">
        <button type="submit" class="continue-btn">ЗАВЕРШИТЬ РЕГИСТРАЦИЮ</button>
        </div>
    </div>
    <!-- 3 step  END-->
</div>
