<div class="sidebar">
  <a href="#" class="sidebar-btn js-show-sidebar"><span></span></a>
  <a href="#" class="logo">
    <img src="img/sidebar-logo.png" alt="">
  </a>

  <div class="username">UserName</div>
  <ul class="sidebar-menu">
    <li><a href="#">Главная</a></li>
    <li><a href="#">Условия акции</a></li>
    <li><a href="#">Творческий конкурс</a></li>
    <li><a href="#">Победители</a></li>
    <li><a href="#">Обратная связь</a></li>
  </ul>
  <ul class="sidebar-menu mobile-menu">
    <li><a href="#">Форум Заботы PURINA ONE®</a></li>
    <li><a href="#">ОТЗЫВЫ О КОРМЕ PURINA ONE®</a></li>
    <li><a href="#">Корм PURINA ONE®</a></li>
    <li><a href="#">Питание от экспертов </a></li>
    <li><a href="#">Инфографика</a></li>
    <li><a href="#">Журнал</a></li>
    <li><a href="#">Видимый результат за 21 день</a></li>
  </ul>
</div>
<div class="overlay"></div>
