<div class="winner">
  <div class="winner-head">
    <div class="title">
      Победители конкурса
    </div>
    <div class="sub-title">
      «Отражение здоровья
      <br> за 21 день»
    </div>
  </div>

  <div class="photos">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 photo-row">
          <div class="wrapper">
            <a href="#" class="photo-wrap">
              <div class="photo-overlay"></div>
              <img src="img/masonry-1.jpg" alt="">
            </a>

            <div class="photo-title">
              Название работы Название работы
              Название работы Название работы
            </div>
            <div class="photo-autor">
              Анастасия Иванова
            </div>
            <div class="photo-foot clearfix">
              <a href="#" class="like"><span>289</span></a>
              <a href="#" class="share"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-4 photo-row">
          <div class="wrapper">
            <a href="#" class="photo-wrap">
              <div class="photo-overlay"></div>
              <img src="img/masonry-1.jpg" alt="">
            </a>

            <div class="photo-title">
              Название работы
            </div>
            <div class="photo-autor">
              Анастасия Иванова
            </div>
            <div class="photo-foot clearfix">
              <a href="#" class="like"><span>289</span></a>
              <a href="#" class="share"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-4 photo-row">
          <div class="wrapper">
            <a href="#" class="photo-wrap">
              <div class="photo-overlay"></div>
              <img src="img/masonry-1.jpg" alt="">
            </a>

            <div class="photo-title">
              Название работы
            </div>
            <div class="photo-autor">
              Анастасия Иванова
            </div>
            <div class="photo-foot clearfix">
              <a href="#" class="like"><span>289</span></a>
              <a href="#" class="share"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-4 photo-row">
          <div class="wrapper">
            <a href="#" class="photo-wrap">
              <div class="photo-overlay"></div>
              <img src="img/masonry-1.jpg" alt="">
            </a>

            <div class="photo-title">
              Название работы
            </div>
            <div class="photo-autor">
              Анастасия Иванова
            </div>
            <div class="photo-foot clearfix">
              <a href="#" class="like"><span>289</span></a>
              <a href="#" class="share"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-4 photo-row">
          <div class="wrapper">
            <a href="#" class="photo-wrap">
              <div class="photo-overlay"></div>
              <img src="http://static.bigstockphoto.com/images/homepage/2016_popular_photo_categories.jpg" alt="">
            </a>

            <div class="photo-title">
              Название работы
            </div>
            <div class="photo-autor">
              Анастасия Иванова
            </div>
            <div class="photo-foot clearfix">
              <a href="#" class="like"><span>289</span></a>
              <a href="#" class="share"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-4 photo-row">
          <div class="wrapper">
            <a href="#" class="photo-wrap">
              <div class="photo-overlay"></div>
              <img src="img/masonry-1.jpg" alt="">
            </a>

            <div class="photo-title">
              Название работы
            </div>
            <div class="photo-autor">
              Анастасия Иванова
            </div>
            <div class="photo-foot clearfix">
              <a href="#" class="like"><span>289</span></a>
              <a href="#" class="share"></a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="container">
      <div class="pagination-photo">
        <ul>
          <li>
            <a href="#">
              <</a>
          </li>
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#" class="active">></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
