.empty {
  .empty-title {
    padding-top: 253px;
    font-size: 300px;
    line-height: 125px;
    color: #2295a5;
    text-align: center;
    position: relative;

    span {
      display: block;
      color: #6e6e6e;
      font-size: 30px;
      text-transform: uppercase;
      font-family: $myriadprolight;
      margin-left: 102px;
      margin-top: 6px;
      letter-spacing: 3.5px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 44px;
      bottom: -122px;
      background: url(../img/404-cat-1.png) no-repeat;
      width: 230px;
      height: 403px;
    }

    &:after {
      content: '';
      position: absolute;
      right: 3px;
      bottom: 25px;
      background: url(../img/404-cat-2.png) no-repeat;
      width: 195px;
      height: 329px;
    }

    @media (max-width: 1200px) {
      font-size: 250px;

      span {
        margin-left: 0;
        font-size: 20px;
      }

      &:before {
        // left: -20%;
        left: -33px;
      }

      &:after {
        // right: -14%;
        right: 0;
      }
    }

    @media (max-width: 991px) {
      &:before {
        left: -20%;
      }

      &:after {
        right: -14%;
      }
    }

    @media (max-width: 800px) {
      padding-top: 100px;

      &:before,
      &:after {
        display: none;
      }
    }

    @media (max-width: 450px) {
      font-size: 45vw;

      span {
        font-size: 5vw;
      }
    }
  }

  @media (max-width: 800px) {
    min-height: 59vh;
  }
}
