.autorisation {
  padding-top: 100px;

  .title {
    color: #339999;
    font-size: 37px;
    font-weight: 400;
  }

  .pop-btn {
    float: right;
    max-width: 233px;
    margin-right: 34px;
    margin-top: 20px;
  }

  label {
    margin-bottom: 10px;
    display: block;
    white-space: nowrap;
  }

  .remember-me {
    margin-top: 20px;
  }

  .lost-pass {
    margin-top: 20px;
  }

  .form-group.has-error {
    p.error-msg {
      position: relative;
      top: 3px;
    }
  }
}
