.create-work {
  .create-title {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 15px;

    img {
      display: block;
      margin: 0 auto 1px;
    }

    span {
      display: block;
      font-size: 36px;
      margin-bottom: 10px;
      font-family: MyriadProLight, sans-serif;
    }
  }

  .work-wrap {
    padding: 51px 63px 0;

    @media (max-width: $screen-sm-max) {
      padding: 51px 15px 0;
    }

    .work-name {
      margin-bottom: 40px;

      .error-msg{
        top: 48px;
      }
    }

    .preview {
      width: 215px;
      height: 256px;
      overflow: hidden;
      position: relative;
      background: url(../img/load-photo-bg.jpg) no-repeat;
      margin-bottom: 22px;

      .user-image {
        position: absolute;
        top: -1px;
      }

      .border-grey,
      .border-green {
        display: none;
        z-index: 2;
        position: relative;
      }

      &.border-grey {
        .border-grey {
          display: block;
        }
      }

      &.border-green {
        .border-green {
          display: block;
        }
      }

      &.horizontal {
        .user-image {
          max-width: none;
          max-height: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .create-photo-wrap {
    .form-group {
      width: 215px;

      input[type=file] {
        position: absolute;
        width: 215px;
        height: 255px;
        cursor: pointer;
        z-index: 10;
        opacity: 0;
      }
    }
    .form-group{
      p.error-msg{
        position: relative;
        top: 0;
      }
    }
  }

  .check-wrap {
    margin-bottom: 12px;

    input {
      opacity: 0;
      position: absolute;
      width: 23px;
      height: 23px;
      cursor: pointer;
    }

    input + span {
      display: inline-block;
      width: 23px;
      height: 23px;
      background: url(../img/checkbox-sprite.jpg) no-repeat 0 -23px;
      cursor: pointer;
    }

    input:checked {
      &+span {
        background-position: 0 0;
      }
    }

    label {
      cursor: pointer;
      margin-left: 16px;
      position: relative;
      top: -6px;
    }
  }

  .continue-btn {
    float: right;
    height: 45px;
    background: #148795;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 85px;
    padding: 3px 56px;
    max-width: 312px;
    letter-spacing: 1px;

    @media (max-width: $screen-sm-max) {
      float: none;
      display: block;
      margin: 15px auto 0;
      width: 89%;
    }
  }
}

.block-row {
  float: left;

  &.right-row {
    width: 76%;
    float: right;

    p.error-msg{
      position: relative;
      top: 0;
    }

    @media (max-width: 1280px) {
      width: 100%;
      float: left;
    }
  }

  @media (max-width: $screen-sm-max) {
    float: none;
    width: 215px;
    margin: 0 auto;
  }
}

.work-steps {
  background: repeating-linear-gradient(45deg, #fff, #fff 10px, #f4f4f4 12px, #f4f4f4 9px);

  .step {
    float: left;
    width: 25%;
    text-align: center;
    color: #373737;
    position: relative;

    &:not(:last-child) {
      &:after {
        content: '';
        background: url(../img/grey-arrow.png) no-repeat;
        width: 113px;
        height: 23px;
        position: absolute;
        right: -55px;
        top: 18px;
      }
    }

    span {
      display: block;
      text-align: center;
      font-size: 77px;
      color: #0d98a6;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-bottom: 10px;

      &:after {
        display: none;
      }

      span {
        font-size: 45px;
      }
    }
  }
}

.info-wrap {
  margin-top: 46px;

  .title-info-wrap {
    text-transform: uppercase;
    font-family: $myriadprolight;
    color: #7e7e7e;
    font-size: 16px;
    padding-left: 40px;
    padding-top: 9px;
  }

  .breed {
    margin-bottom: 9px;

    .breed-name {
      padding: 13px 45px 0 10px;
      border: 1px solid #CCC;
      min-height: 44px;
    }

    .info-wrap-input {
      padding-left: 56px;
      padding-right: 0;

      // .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
      //   background: url(../img/pink-arrow.png) no-repeat center center;
      // }
    }
  }

  .age {
    .info-wrap-input {
      padding-left: 56px;

      .age-cat {
        padding: 13px 45px 0 10px;
        border: 1px solid #CCC;
        min-height: 44px;
        width: inherit;
        min-width: 200px;
      }

      // .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
      //   background: url(../img/pink-arrow-double.png) no-repeat center center;
      // }
    }
  }

  @media (max-width: $screen-md-max) {
    .title-info-wrap {
      padding: 9px 15px 0;
    }

    .breed,
    .age {
      .info-wrap-input {
        padding: 0 15px;
      }
    }
  }
}
