/* ------------------------------------------------------- feedback ------------------------------------------------------- */
.feedback-wrapp {
  position: relative;
  font-family: $myriadprolight;
  overflow: hidden;
  min-height: 800px;
  color: #333;

  @media (max-width: 1400px) {
    padding-top: 31px;
  }

  .feedback-title {
    position: relative;
    padding-top: 23px;
    font-size: 38px;

    @media (max-width: $screen-sm-max) {
      font-size: 20px;
    }
  }
}

.feedback-title:before {
  content: '';
  background: url(../img/feedback-logo.png) no-repeat;
  width: 234px;
  height: 62px;
  display: block;
  margin: 0 auto 15px;
}

.feedback-tel {
  position: relative;
  text-align: center;
  border: 1px dashed #DCDCDC;
  border-radius: 10px;
  padding: 15px;
  margin: 30px 50px 40px;
  line-height: 62px;
  font-size: 22px;

  @media (max-width: $screen-sm-max) {
    font-size: 16px;
    line-height: 20px;
  }
}

.feedback-tel span {
  margin-left: 20px;
}

.feedback-tel img {
  margin-right: 20px;
  position: relative;
  top: 2px;
}

.feedback-form {
  position: relative;
  padding: 0 100px;

  .jq-selectbox__select {
    overflow: hidden;
  }

  @media (max-width: $screen-md-max) {
    padding: 0 15px;
  }
}

.feedback-form .continue-btn {
  float: right;
  width: 242px;
  height: 45px;
  background: #148795;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;
  margin-right: 0;
  margin-top: 20px;
  padding-bottom: 0;
}

.feedback-form .select-style,
.feedback-form input.input-style {
  margin-bottom: 15px;
  height: 41px;
  color: #000;
}

.feedback-form {
  .form-group {
    &.has-error {
      p.error-msg {
        position: relative;
        top: -10px;
      }
    }
  }
}

.feedback-form span input {
  width: 50%;
  margin-left: 20px;
  float: right;
}

.feedback-form textarea {
  border: 1px solid #d6d6d6;
  width: 100%;
  font-size: 16px;
  line-height: 45px;
  color: #98a0a1;
  padding-left: 15px;
  resize: none;
  margin-bottom: 9px;

}

.feedback-form .title-input {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  color: #666;
}
