/* ------------------------------------------------------- index ------------------------------------------------------- */
.index-wrapp {
  position: relative;
  background: url(../img/index-bg.jpg) center no-repeat;
  background-size: cover;
  font-family: $myriadprolight;
  overflow: hidden;
  min-height: 83vh;

  @media (max-width: 1200px) {
    padding-top: 40px;
  }
}

.h1 {
  font-size: 37px;
  color: #333333;
  padding-top: 26px;
  padding-left: 33px;
  line-height: 1.1;
}

.h1 span {
  font-family: $myriadprosemibold;
  color: #339999;
  display: block;
}

.you-can {
  position: relative;
  padding-left: 20px;
  padding-top: 58px;
  padding-bottom: 45px;

  .you-can-title {
    font-size: 18px;
    color: #399;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

span.you-can-round {
  color: #fff;
  width: 50px;
  height: 50px;
  background: url(../img/index-you.png) top center no-repeat;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-style: italic;
  margin-left: -3px;
}

span.you-can-border {
  border-bottom: 1px solid;
  width: 130px;
  display: inline-block;
  padding-left: 10px;
  font-family: $myriadproreg;
}

.you-can-p {
  color: #333;
  position: relative;
  padding-left: 60px;
  max-width: 250px;
  font-size: 18px;
  margin-top: -5px;
  line-height: 1.1;
}

.point-item {
  position: relative;
  padding-bottom: 33px;
}

.point-img {
  position: relative;
  float: left;
  width: 100px;
  text-align: center;
}

.point-text {
  position: relative;
  float: left;
  line-height: 1;
}

.point-text-title {
  color: #DF368E;
  font-size: 28px;
  font-family: $myriadproreg;
}

.point-text-p {
  color: #333;
  font-size: 18px;
  line-height: 0.7;
}

.text-middle {
  padding-top: 18px;
}

.middle-cat {
  position: relative;
  top: -30px;
  text-align: center;
}

.admiring-reflection {
  position: relative;
  text-align: center;
  padding-top: 92px;

  .days{
    text-align: center;
    position: absolute;
    left: -16px;
    right: 0;
    margin: auto;
    transform: translateY(56px);
    color: #fff;
    font-size: 51px;
    line-height: 26px;
    span{
      font-size: 17px;
      display: block;
    }
  }
}

.admiring-reflection-text {
  color: #399;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $myriadproreg;
  font-size: 26px;
  width: 180px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.prize-wrapp {
  position: relative;
  padding-top: 49px;
}

.prize-item {
  position: relative;
  text-align: center;
  z-index: 1;
}

.prize-item:before {
  content: url(../img/white-shadow.png);
  position: absolute;
  left: -50%;
  top: -175px;
  z-index: -1;
}

.prize-item-img {
  position: relative;
  float: left;
}

.prize-item-text {
  color: #999;
  text-align: left;
  position: relative;
  left: 10px;
}

.prize-wrapp {
  .prize-item-wrap {
    padding: 0;

    &:nth-child(1) {
      .prize-item-text {
        margin-right: 69px;
      }
    }

    &:nth-child(2) {
      .prize-item-text {
        // width: 167px;
        margin-right: 45px;
      }
    }

    &:last-child {
      .prize-item-img {
        position: relative;
        top: -56px;
        margin-left: -54px;
        z-index: 10;
      }

      .prize-item-text {
        position: relative;
        left: -13px;
        top: 6px;
        z-index: 50;
      }
    }
  }

  @media (max-width: $screen-lg-max){
    .prize-item-wrap{
      margin-bottom: 40px;
      &:nth-child(1),
      &:nth-child(2),
      &:last-child{
        .prize-item-img{
          float: none;
          top: 0;
          margin: 0;
          .img-wrap{
            float: none;
            left: -20px;
          }
        }

        .prize-item-text{
          margin-right: 0;
          text-align: center;

        }
      }
      &:last-child{
        margin-bottom: 55px;
      }

      .prize-item-btn{
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.guaranteed-gifts {
  color: #999;
  position: relative;
  text-align: center;
  font-family: $myriadproreg;
  padding-top: 5px;
  padding-bottom: 15px;
}

.prize-item-btn {
  position: absolute;
  left: 134px;
  top: -34px;
  background-color: #DF368E;
  display: inline-block;
  width: 174px;
  height: 37px;
  border-radius: 20px;
  line-height: 37px;
  padding: 0 15px;
  text-align: right;
  color: #fff;
  z-index: -1;
  font-size: 19px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 1370px) {
  // .prize-item-text {
  //   float: none;
  //   width: 160px;
  //   padding-left: 0;
  //   text-align: center;
  //   margin: 0 auto;
  // }
  //
  // .prize-item-img {
  //   margin-left: 0;
  //   float: none;
  // }
  // .prize-item-btn {
  //   left: 0;
  //   position: relative;
  //   top: 0;
  //   text-align: center;
  //   margin-top: 10px;
  //   margin-bottom: 10px;
  // }
  .middle-cat {
    top: 0;
  }
}

@media (min-width: 1201px) {
  .admiring-reflection,
  .point-item,
  .you-can {
    min-width: 250px;
  }
}

@media (max-width: 1200px) {
  .you-can {
    padding: 25px 0;
  }

  .you-can-title {
    text-align: center;
  }

  .you-can-p {
    padding-left: 0;
    max-width: 500px;
    margin-top: 0;
    text-align: center;
  }

  span.you-can-round {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .point-item {
    text-align: center;
  }

  .point-img {
    float: none;
    width: 100%;
  }

  .point-text {
    float: none;
  }

  .text-middle {
    padding-top: 0;
  }

  .admiring-reflection-text {
    font-size: 22px;
    width: 100%;
  }

  .middle-cat {
    top: 0;
    height: 480px;
    vertical-align: middle;
    display: table-cell;
  }

  .prize-item-text {
    color: #333;
  }

  .guaranteed-gifts {
    color: #333;
  }

  .prize-item.item-last .prize-item-img {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .h1 {
    padding-left: 0;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  span.you-can-border {
    text-align: left;
  }

  .you-can-p {
    max-width: 100%;
  }

  .point-item {
    text-align: center;
    width: 200px;
    display: inline-block;
  }

  .index-wrapp {
    text-align: center;
  }

  .middle-cat {
    text-align: center;
    display: block;
    height: auto;
  }

  .admiring-reflection {
    padding-top: 0;
  }

  .prize-item-text {
    width: auto;
  }

  .prize-item.item-last .prize-item-img {
    top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .prize-item-img {
    margin-left: 0;
    margin-top: 40px;
  }

  .guaranteed-gifts {
    padding-top: 25px;
  }

  .prize-item:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .h1 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 33px;
  }

  .point-item {
    width: 140px;
  }

  .point-text-p {
    font-size: 16px;
  }
}
/* ------------------------------------------------------- feedback ------------------------------------------------------- */
// .feedback-wrapp {
//   position: relative;
//   font-family: $myriadprolight;
//   overflow: hidden;
//   min-height: 800px;
//   color: #333;
//
//   @media (max-width: 1400px) {
//     padding-top: 31px;
//   }
//
//   .feedback-title {
//     position: relative;
//     padding-top: 23px;
//     font-size: 38px;
//
//     @media (max-width: $screen-sm-max) {
//       font-size: 20px;
//     }
//   }
// }
//
//
//
// .feedback-title:before {
//   content: '';
//   background: url(../img/feedback-logo.png) no-repeat;
//   width: 234px;
//   height: 62px;
//   display: block;
//   margin: 0 auto 15px;
// }
//
// .feedback-tel {
//   position: relative;
//   text-align: center;
//   border: 1px dashed #DCDCDC;
//   border-radius: 10px;
//   padding: 15px;
//   margin: 30px 50px 40px;
//   line-height: 62px;
//   font-size: 22px;
//
//   @media (max-width: $screen-sm-max) {
//     font-size: 16px;
//     line-height: 20px;
//   }
// }
//
// .feedback-tel span {
//   margin-left: 20px;
// }
//
// .feedback-tel img {
//   margin-right: 20px;
//   position: relative;
//   top: 2px;
// }
//
// .feedback-form {
//   position: relative;
//   padding: 0 100px;
//
//   .jq-selectbox__select {
//     overflow: hidden;
//   }
//
//   @media (max-width: $screen-md-max) {
//     padding: 0 15px;
//   }
// }
//
// .feedback-form .continue-btn {
//   float: right;
//   width: 242px;
//   height: 45px;
//   background: #148795;
//   color: #fff;
//   border: none;
//   text-transform: uppercase;
//   font-size: 15px;
//   cursor: pointer;
//   box-sizing: border-box;
//   margin-right: 0;
//   margin-top: 20px;
//   padding-bottom: 0;
// }
//
// .feedback-form .select-style,
// .feedback-form input.input-style {
//   margin-bottom: 15px;
//   height: 41px;
//   color: #000;
// }
//
// .feedback-form span input {
//   width: 50%;
//   margin-left: 20px;
//   float: right;
// }
//
// .feedback-form textarea {
//   border: 1px solid #d6d6d6;
//   width: 100%;
//   font-size: 16px;
//   line-height: 45px;
//   color: #98a0a1;
//   padding-left: 15px;
//   resize: none;
// }
//
// .feedback-form .title-input {
//   font-size: 18px;
//   letter-spacing: 0.5px;
//   margin-top: 10px;
//   color: #666;
// }
.img-wrap {
  position: relative;
  display: inline-block;
  float: left;
}

.rnd-item {
  position: absolute;
  top: 26px;
  left: 0;
  width: 74px;
  height: 74px;
  background: rgba(240, 240, 240, 0.5);
  border-radius: 50%;
  padding: 8px;
  line-height: 1;
  color: #fff;
  text-align: center;

  .rnd {
    background: #bbca4e;
    font-size: 33px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding-top: 8px;

    span {
      font-family: $myriadproreg;
      font-size: 11px;
      display: block;
    }
  }
}

.main-page {
  background: #C6C6C6;
}

.prize-item.item-last {}
