.konkurs {
  /*  .konkurs-title {
    font-size: 28px;

    &:before {
      content: '';
      background: url(../img/konkurs-logo.png) no-repeat;
      width: 234px;
      height: 62px;
      display: block;
      margin: 0 auto;
    }
  }*/
  .grid {
    .grid-sizer {
      width: 33.333%;

      @media (max-width: 1120px) {
        width: 50%;
      }
    }

    .grid-item {
      padding: 15px;
      box-sizing: border-box;
      display: block;
      width: 33.333%;
      position: relative;
      //margin-bottom: 20px;
      @media (max-width: 1120px) {
        width: 48%;
      }

      @media (max-width: $screen-md-max) {
        width: 100%;

        img {
          min-width: 100%;
        }
      }

      .img-wrap {
        position: relative;
        display: block;
        float: none;

        &:before {
          content: '';
          @include position(absolute, 0 null null 0);
          width: 100%;
          height: 100%;
          background: #0d98a6;
          opacity: 0;
          transition: 0.2s ease;
        }

        &:hover {
          &:before {
            opacity: 0.8;
            transition: 0.2s ease;
          }

          .social-wrap-konkurs {
            opacity: 1;
          }
        }

        &.grey-border {
          img {
            border: 8px solid #e8e8e8;
          }
        }

        &.green-border {
          img {
            border: 8px solid #2bb0c0;
          }
        }
      }

      img {
        // border: 8px solid #e8e8e8;
        box-shadow: 0 2px 4px rgba(0, 3, 3, 0.45), inset 0 0 0 rgba(1, 0, 0, 0.25);
        display: block;
        max-width: 100%;
        width: 100%;
      }

      .social-wrap-konkurs {
        @include position(absolute, null null 0 null);
        width: 100%;
        opacity: 0;
        margin-bottom: 40px;
        padding: 0 8%;

        .user-name {
          text-align: center;
          padding-top: 10px;
          color: #fff;
        }

        a {
          position: relative;
          z-index: 1;

          &:hover {
            opacity: 0.5;
            transition: 0.2s ease;
          }
        }

        .look-more {
          float: left;
          position: relative;
          top: 10px;

          &:before {
            content: '';
            display: block;
            @include sprite($look-more);
          }
        }

        .like {
          display: block;
          width: 21px;
          margin: 0 auto;
          text-decoration: none;
          color: #fff;
          text-align: center;

          span {
            font-size: 20px;
            font-family: $myriadproreg;
            @include position(relative, null null -4px -4px);
          }

          &:before {
            content: '';
            display: block;
            @include sprite($like);
          }
        }

        .share {
          float: right;
          position: relative;
          top: 10px;

          &:before {
            content: '';
            display: block;
            @include sprite($share);
          }
        }
      }
    }
  }
}

.sort-wrap {
  background: url(../img/sort-wrap.jpg);
  min-height: 63px;

  .sort-title {
    float: left;
    position: relative;
    color: #666;
    padding-top: 23px;

    a.sort-select {
      color: #c06;
      text-decoration: none;

      img {
        margin-left: 5px;
        position: relative;
        top: -2px;
      }
    }

    ul.sort-select-hide {
      position: absolute;
      top: 40px;
      right: 0;
      list-style: none;
      width: 140px;
      z-index: 999;
      background-color: #fff;
      border: 1px solid #cc0066;
      border-radius: 10px;
      padding: 10px;
      display: none;

      a {
        color: #c06;
        text-decoration: none;
        line-height: 25px;
      }
    }
  }

  .sort-title:hover {
    ul.sort-select-hide {
      display: block;
    }
  }

  .sort-search {
    float: right;
    padding-top: 15px;

    .search-input {
      width: 178px;
      height: 27px;
      background-color: white;
      border: 1px solid #e5e5e5;
      padding: 0 10px;
    }

    .search-btn {
      width: 36px;
      height: 27px;
      background-color: white;
      background-image: linear-gradient(to top, rgba(93, 93, 93, 0.26) 0%, rgba(169, 169, 169, 0.26) 42%, rgba(228, 228, 228, 0.26) 49%, rgba(225, 225, 225, 0.26) 100%);
      border: none;
      border-radius: 3px;
      box-shadow: 0 2px 0 rgba(236, 236, 236, 0.75);
      cursor: pointer;
      float: right;
      margin-left: 10px;
      position: relative;

      &::before {
        content: '';
        background: url(../img/search-icon.png) no-repeat;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 5px;
        left: 10px;
      }
    }
  }
}
/*-----------------------------------------------------10/03/16-----------------------------------------------------*/
.konkurs-head {
  position: relative;
  background: url(../img/konkurs-head-bg.jpg);
  background-size: cover;
  font-family: $myriadprolight;
  color: #333;
  padding-top: 22px;
  padding-bottom: 18px;
}

.audition-h1 {
  position: relative;
  font-family: $myriadprolight;
  font-size: 30px;
  padding-bottom: 7px;
}

.audition-h2 {
  font-family: $myriadprosemibold;
  font-size: 26px;
  color: #333;
  padding-bottom: 15px;

  span {
    font-family: $myriadprosemibold;
    color: #009999;
  }
}

.konkurs-cat {
  padding-top: 20px;
}

.audition-item {
  position: relative;
  text-align: center;
  font-family: $myriadprolight;
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 25px;
}

.audition-item-img {
  padding-bottom: 5px;
}

.participate-btn {
  border-radius: 18px;
  width: 174px;
  height: 42px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #E11174;
  text-decoration: none;
  color: #fff;
  line-height: 42px;
  font-size: 18px;
}

.competition-wrapp {
  position: relative;
  text-align: center;
  top: -10px;
}

.competition-btn {
  position: relative;
  display: inline-block;
  line-height: 28px;
  color: #999;
  background-color: #fff;
  border-radius: 14px;
  padding: 0 15px;
  font-size: 14px;
}

.competition-btn:before {
  content: "";
  position: relative;
  background: url(../img/competition-btn-bef.png);
  width: 13px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
  top: 3px;
}
/*----------konkurs-tabs----------*/
.konkurs-tabs {
  position: relative;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 6px;

  a {
    position: relative;
    display: inline-block;
    margin: 0 -2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 30px 13px;
    border-bottom: 1px solid #EAEAEA;
    color: #333;
    font-size: 17px;
  }

  a.active,
  a:hover {
    border-bottom: 1px solid #cc0066;
    color: #cc0066;
  }
}

@media (max-width: 1300px) {
  .audition-h2 br {
    display: none;
  }

  .audition-h1 {
    font-size: 25px;
  }

  .audition-h2 {
    font-size: 22px;
  }

  .konkurs-cat {
    padding-top: 50px;
  }
}

@media (max-width: 1200px) {
  .konkurs-head {
    padding-top: 65px;
  }

  .audition-h1 {
    font-size: 20px;
  }

  .audition-h2 {
    font-size: 20px;
  }

  .competition-btn {
    padding: 0 10px;
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .audition-h1 {
    font-size: 25px;
    text-align: center;
  }

  .audition-h2 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 30px;
  }

  .konkurs-cat {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .audition-h1 {
    font-size: 30px;
  }

  .audition-h2 {
    font-size: 26px;
  }
}

@media (max-width: 542px) {
  .audition-item {
    font-size: 20px;
    padding-bottom: 30px;
    width: 320px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .audition-item {
    max-width: 100%;
  }

  .sort-wrap .sort-title {
    float: none;
    display: inline-block;
  }

  .sort-wrap .sort-search {
    float: none;
    position: relative;
  }

  .sort-wrap .sort-search .search-input {
    width: 100%;
    padding: 0 40px 0 10px;
  }

  .sort-wrap .sort-search .search-btn {
    float: none;
    margin-left: 0;
    position: absolute;
    top: 15px;
    right: 0;
  }

  .konkurs-tabs a {
    padding: 0 15px 13px;
    font-size: 14px;
  }
}

.konkurs-list .wait .icon-rate .background {
  background: #cccccc url(../img/icon-look.png) no-repeat center center;
}
