.lk {
  .lk-title {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 15px;

    >img {
      display: block;
      margin: 0 auto 1px;
    }

    .lk-title-text {
      display: block;
      font-size: 36px;
      margin-bottom: 10px;
      font-family: $myriadprolight;
    }

    @media (max-width: $screen-sm-max) {
      .lk-title-text {
        font-size: 20px;
      }
    }
  }

  .form-group.has-error {
    .error-msg {
      position: static;
      text-align: right;
    }
  }

  @media (max-width: 1400px) {
    padding-top: 31px;
  }
}

.lk-head-wrap {
  background: url(../img/sort-wrap.jpg) no-repeat;
  width: 1120px;
  height: 63px;
  margin: 0 auto;

  .left-title {
    color: #2399a8;
    font-style: italic;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 24px;
    display: inline-block;
  }

  .change-profile {
    position: relative;
    text-decoration: none;
    font-family: $myriadprolight;
    font-size: 14px;
    color: #505050;
    margin-left: 152px;

    @media (max-width: $screen-md-max) {
      display: block;
      margin-top: 10px;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../img/change-profile.png) no-repeat;
      margin-right: 24px;
      position: relative;
      top: 4px;
    }

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 1200px) {
      margin-left: 30px;
    }
  }

  .stats {
    float: right;
    margin-right: 18px;

    a {
      float: left;
      position: relative;
      width: 58px;
      height: 58px;
      display: inline-block;
      border-radius: 50%;
      background: #2295a5;
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-family: $myriadprosemibold;
      font-size: 32px;
      line-height: 1;
      box-sizing: content-box;
      border: 7px solid rgba(240, 240, 240, 1);
      z-index: 10;

      &:not(:first-child) {
        margin-left: 44px;
      }

      .rnd-wrap {
        position: absolute;
        left: 0;
        right: 0;
        top: 7px;
        margin: auto;

        >span {
          font-size: 11px;
          display: block;
        }
      }

      .pop-up {
        background: #fff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        display: block;
        padding: 20px;
        width: 263px;
        @include position(absolute, 71px -137px null null);
        text-align: left;
        text-decoration: none;
        color: transparent;
        display: none;

        .prize {
          .prize-name {
            color: #e11a84;
            font-size: 27px;
          }
        }

        li {
          display: table;
        }

        .item-weight {
          color: #000;
          font-size: 16px;
        }

        .prize-wrap {
          display: table-cell;
          vertical-align: middle;
          padding-left: 5px;
        }

        .img-wrap {
          width: 57px;
          text-align: center;
          display: inline-block;
        }
      }

      &.gifts {
        background: #f0f0f0;

        .rnd-wrap {
          width: 100%;
          height: 100%;
          border: none;
          top: 0;
        }

        .gift-num {
          position: absolute;
          background: #bbca4e;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: block;
          border: 7px solid rgba(240, 240, 240, 1);
          z-index: 0;
          top: -26px;
          right: -17px;
          padding-top: 9px;
          text-align: center;
          font-size: 16px;
        }

        .background {
          background: #bbca4e;
          width: 100%;
          height: 100%;
          z-index: 15;
          border-radius: 50%;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            width: 24px;
            height: 34px;
            background: url(../img/gift-icon.png) no-repeat;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
          }
        }

        &:hover {
          background: inherit;

          .background,
          .gift-num {
            background: #A8B548;
          }
        }
      }

      &:hover {
        background: #137688;

        .pop-up {
          display: block;
        }
      }
    }

    @media (max-width: $screen-md-max) {
      float: none;
      text-align: center;
      margin-right: 0;
      margin-top: 35px;

      a {
        float: none;
      }
    }
  }

  @media (max-width: 1400px) {
    width: 100%;
  }

  @media (max-width: $screen-md-max) {
    background: none;
    height: auto;
  }
}

.lk-body {
  font-family: $myriadprolight;
  font-size: 14px;
  margin-top: 31px;

  .col-md-8 {
    font-size: 18px;
    padding-left: 26px;

    @media (max-width: $screen-sm-max) {
      padding-left: 15px;
    }
  }

  .birthday {
    select {
      height: 32px;
      float: left;
    }

    .form-group {
      float: left;
      width: 27%;
      // padding-right: 0px !important;
      &:not(:last-of-type) {
        margin-right: 13px;
      }

      @media (max-width:991px) {
        width: 100%;
        padding-right: 42px !important;
      }

      @media (max-width:991px) {
        padding-right: 0 !important;
      }
    }

    .jq-selectbox {
      // width: 27%;
      height: 32px;
      display: inline-block;

      .jq-selectbox__select {
        height: 32px;
        width: inherit;
        padding-top: 1px;

        .jq-selectbox__trigger-arrow {
          height: 32px;
        }

        .jq-selectbox__select-text {
          overflow: inherit;
          position: relative;
          left: -4px;
        }
      }

      @media (max-width: 1200px) {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }

  .input-wrap {
    margin-bottom: 11px;

    >.col-md-4 {
      padding-top: 6px;
      padding-left: 48px;
    }

    .form-group {
      padding-right: 32px;

      @media (max-width: 1400px) {
        padding-right: 0;
      }
    }

    .form-group.width-fix {
      padding: 0 42px 0 0;

      @media (max-width: $screen-sm-max) {
        padding: 0;
      }
    }
  }

  .input-style {
    margin-bottom: 0;
    height: 31px;

    @media (max-width: 1400px) {
      padding-left: 5px;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 15px;
    }
  }

  .country {
    margin-top: 62px;

    .col-md-8 {
      padding: 3px 43px;
    }
  }

  .change-pass {
    color: #000;
    font-size: 14px;
    display: inline-block;
    margin-top: 8px;
  }
}

.ui-menu {
  background: #fff;
  border: 1px solid #cacaca;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.right-list {
  padding-left: 6px;
}

.konkurs-list {
  .images {
    .img-wrap {
      position: relative;
      @include aspect-ratio(246,210);
      max-width: 246px;
      max-height: 210px;
      display: block;
      float: none;

      .image-parent-wrap {
        overflow: hidden;
        width: 100%;
        height: 100%;
        @include position(absolute, 0 null null null);
        // img {
        //   position: absolute;
        // }
      }

      @media (max-width: $screen-sm-max) {
        margin: 0 auto;
      }
    }
  }

  .title-list {
    font-size: 19px;
    font-family: $myriadprolight;
    margin-left: 19px;
    margin-top: 4px;
  }

  .list-wrap {
    background: url(../img/sort-wrap.jpg) no-repeat;
    padding: 7px 31px;
    margin-top: 24px;
    margin-bottom: 25px;
    // max-width: 83%;
    a {
      text-decoration: none;
      font-family: $myriadprolight;
      font-size: 14px;
      margin-right: 79px;
      white-space: nowrap;

      &:before {
        content: '';
        display: inline-block;
        background: url(../img/list-sprite.png) no-repeat;
        height: 16px;
        margin-right: 9px;
      }

      &.good {
        &::before {
          width: 17px;
          background-position: 0 0;
        }
      }

      &.bad {
        &::before {
          width: 17px;
          background-position: -17px 0;
          position: relative;
          top: 4px;
          left: -3px;
        }
      }

      &.wait {
        &::before {
          width: 21px;
          background-position: -33px 0;
          position: relative;
          top: 2px;
          left: -2px;
        }
      }
    }

    @media (max-width: $screen-md-max) {
      background-repeat: repeat-y;
    }
  }

  .icon-rate,
  .icon-num,
  .add-points,
  .icon-look {
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    // border: 7px solid rgba(240, 240, 240, .5);
    background: rgba(240, 240, 240, 0.5);
    padding: 7px;
    box-sizing: border-box;
    position: absolute;
    top: 24px;
    right: -11px;

    .background {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .icon-num {
    top: 56%;

    .background {
      background: #cccccc;
      color: #fff;
      font-size: 33px;
      text-align: center;
      line-height: 1;
      font-family: $myriadprosemibold;
      padding-top: 6px;

      span {
        font-size: 11px;
        display: block;
      }
    }
  }

  .icon-look {
    .background {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #cccccc url(../img/icon-look.png) no-repeat center center;
    }
  }

  .add-points {
    text-align: center;
    right: auto;
    left: 0;
    top: 56%;

    .background {
      background: #2295a5;
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 1;
      font-family: $myriadprosemibold;
      padding-top: 19px;
      padding-left: 2px;

      span {
        font-size: 11px;
        display: block;
      }
    }
  }

  .good {
    .icon-rate {
      .background {
        background: #2295a5 url(../img/icon-good.png) no-repeat center center;
      }
    }
  }

  .bad {
    .icon-rate {
      .background {
        background: #a53e22 url(../img/icon-bad.png) no-repeat center center;
      }
    }
  }

  .images {
    margin-bottom: 41px;
  }

  .show-more {
    .wrap {
      @include aspect-ratio(246,210);
      max-width: 246px;
      max-height: 210px;

      .link {
        text-decoration: none;
        position: absolute;
        display: block;
        background: #f0f0f0;
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 20px;
        top: 0;

        a {
          text-decoration: none;
          color: #fff;
          font-family: $myriadprosemibold;
          font-size: 32px;
          @include position(absolute, 50% 0 0 0);
          margin: auto;
          transform: translateY(-50%);
        }
      }

      @media (max-width: $screen-sm-max) {
        margin: 0 auto;
      }
    }

    .show-more-icon {
      width: 20px;
      height: 14px;
      background: url(../img/white-arrow.png);
      display: inline-block;
    }
  }
}

.self-cabinet {
  float: right;
  width: 145px;
  height: 35px;
  background: #148795;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;
  margin-right: 0;
  margin-top: 20px;
  padding-bottom: 0;
}

.download-wrap {
  margin-bottom: 15px;

  .links {
    padding-left: 48px;

    @media (max-width:$screen-md-max) {
      padding-left: 15px;
    }
  }

  a {
    color: #fff;
    background-color: #2295a5;
    text-decoration: none;
    padding: 6px 15px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.2s ease;

    &:hover {
      opacity: 0.5;
      transition: 0.2s ease;
    }

    @media (max-width:$screen-md-max) {
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
}
//**Present Page
.present-title {
  font-size: 18px;
  color: #8c8c8c;
}

.presents {
  padding-top: 50px;
  position: relative;
  text-align: center;

  &:nth-child(1) {
    .rnd-item {
      right: 46px;
      left: auto;
      z-index: 1;
      top: 13px;

      &.un-active {
        .rnd {
          background: #cccccc;
        }
      }
    }
  }

  &:nth-child(2) {
    .rnd-item {
      right: -4px;
      left: auto;
      z-index: 1;
      top: 13px;

      &.un-active {
        .rnd {
          background: #cccccc;
        }
      }
    }
  }

  &:nth-child(3) {
    .rnd-item {
      right: 19px;
      left: auto;
      z-index: 1;
      top: 10px;

      &.un-active {
        .rnd {
          background: #cccccc;
        }
      }
    }
  }
  // .rnd-item {
  //   right: 44px;
  //   left: auto;
  //   z-index: 1;
  //
  //   &.un-active {
  //     .rnd {
  //       background: #cccccc;
  //     }
  //   }
  // }
  @media (max-width: $screen-sm-max) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      .rnd-item {
        right: 19px;
        top: 10px;
      }
    }
  }
}

.presents-main {
  .link-title {
    margin-bottom: 36px;
  }
}

.presents-wrapper {
  .present-img {
    max-height: 153px;
    height: 153px;
    position: relative;

    img {
      position: absolute;
      max-width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .present-name {
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
    margin: 52px 0 40px;
  }

  .get-present {
    color: #fff;
    background-color: #bbca4e;
    text-decoration: none;
    width: 48%;
    padding: 9px 8px 5px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.2s ease;
    text-transform: uppercase;

    &:hover {
      opacity: 0.5;
      transition: 0.2s ease;
    }
  }
}


//Back End change-pass
#petform-breed-styler.disabled .jq-selectbox__dropdown,
#petform-specials-styler.disabled .jq-selectbox__dropdown {
  display: none !important; }

#petformsecond-breed-styler.disabled .jq-selectbox__dropdown,
#petformsecond-specials-styler.disabled .jq-selectbox__dropdown {
  display: none !important; }

#petformthird-breed-styler.disabled .jq-selectbox__dropdown,
#petformthird-specials-styler.disabled .jq-selectbox__dropdown {
  display: none !important; }

#petformfourth-breed-styler.disabled .jq-selectbox__dropdown,
#petformfourth-specials-styler.disabled .jq-selectbox__dropdown {
  display: none !important; }

#petformfifth-breed-styler.disabled .jq-selectbox__dropdown,
#petformfifth-specials-styler.disabled .jq-selectbox__dropdown {
  display: none !important; }
