.new-pass {
  padding-top: 60px;

  .form-group {
    margin-bottom: 30px;

    .error-msg{
      position: static;
    }
  }
}

.submit-btn-dfl {
  height: 45px;
  background: #148795;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 3px 56px;
  max-width: 312px;
  letter-spacing: 1px;
}
