.offer {
  .offer-title {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 15px;

    >img {
      display: block;
      margin: 0 auto 23px;
    }

    .offer-title-text {
      display: block;
      font-size: 28px;
      margin-bottom: 10px;
    }

    .offer-sub-title {
      color: #999999;
      font-size: 20px;
      margin-bottom: 4px;
      display: block;
    }



    @media (max-width: $screen-sm-max) {
      .offer-title-text {
        font-size: 20px;
      }

      .offer-sub-title {
        font-size: 16px;
      }

      .link-title {
        font-size: 16px;
      }
    }
  }
  @media (max-width: 1400px) {
    padding-top: 31px;
  }
}

.link-title {
  font-size: 22px;
  font-family: $myriadprolight;

  a {
    color: #e11a84;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: #e11a84;
    }
  }
}

.steps {
  padding: 0 10%;
  overflow: hidden;

  @media (max-width: 1400px) {
    padding: 0 15px;
  }

  .step-num {
    color: #e11a84;
    font-size: 20px;
    padding-left: 16px;

    span {
      display: block;
      font-size: 128px;
      line-height: 120px;
      position: relative;
      left: -16px;
      margin-top: 11px;
    }
  }

  .step-text {
    color: #3c4143;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
  }

  .steps-wrap {
    position: relative;

    &:nth-child(2) {
      padding-top: 142px;
    }

    &:nth-child(3) {
      padding-top: 350px;
      padding-left: 38px;
      position: relative;

      .step-text {}

      >img {
        position: absolute;
        top: 374px;
        left: 126px;
      }
    }

    &:not(:last-child) {
      .step-num {
        position: relative;

        &:after {
          content: '';
          width: 122px;
          height: 97px;
          position: absolute;
          background: url(../img/steps-arrow.png) no-repeat;
          top: 75%;
          right: 0;

          @media (max-width: 1200px){
            display: none;
          }
        }
      }

    }
  }

  @media (max-width: $screen-sm-max) {
    overflow: visible;

    .steps-wrap {
      text-align: center;

      &:nth-child(2),
      &:nth-child(3) {
        padding-top: 0;

        >img {
          position: static;
        }
      }
    }
  }
}
