.register {
  border: 30px solid #148795;
  font-family: $myriadproreg;
  position: relative;
  min-height: 91vh;

  .wrap {
    width: 808px;
    margin: 0 auto;

    @media (max-width: 1280px) {
      width: 100%;
      padding: 0 15px;
    }
  }

  .register-head {
    // .logo-wrap {
    //
    //   width: 147px;
    //   @include position(absolute,39px null null 85px);
    //
    //   @media (max-width: 1280px) {
    //     top: 15px;
    //     left: 15px;
    //   }
    //
    //   @media (max-width: 1130px) {
    //     position: relative;
    //     float: none;
    //     top: 0;
    //     left: 0;
    //     margin: 30px auto 0;
    //   }
    // }
    .register-title {
      color: #148795;
      text-align: center;
      font-size: 28px;
      margin-top: 35px;
    }

    .progress-bar {
      text-align: center;
      margin: 32px 0;

      .steps {
        .step {
          display: inline-block;
          position: relative;

          &:after {
            content: '';
            display: inline-block;
            width: 55px;
            height: 55px;
            background: url(../img/steps-sprite.png) no-repeat -55px 0;
          }

          &.active {
            &:after {
              background-position: 0 0;
            }
          }

          &:not(:first-child) {
            &:before {
              content: '';
              @include position(relative, null null 27px null);
              display: inline-block;
              width: 111px;
              height: 1px;
              background: #d5d8d8;
              margin-left: 20px;
              margin-right: 20px;

              @media(max-width: $screen-sm-max) {
                width: 6vw;
              }
            }
          }
        }

        @media(max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
  }

  .register-form {
    //padding: 0 400px;
    margin-top: 27px;
    padding-bottom: 127px;
    // input {
    //   border: 1px solid #d6d6d6;
    //   height: 44px;
    //   width: 100%;
    //   margin-bottom: 37px;
    //   font-size: 16px;
    //   color: #98a0a1;
    //   padding-left: 15px;
    // }
    .title-input {
      font-size: 17px;
      margin-bottom: 8px;
      letter-spacing: 0.5px;

      span {
        color: #d15050;
      }
    }

    .col-md-6 {
      &:nth-child(2n+1) {
        padding-right: 41px;
      }

      &:nth-child(2n) {
        padding-left: 59px;
        padding-right: 0;
      }

      @media(max-width: 1200px) {
        &:nth-child(2n+1),
        &:nth-child(2n) {
          padding: 0 15px;
        }
      }
    }

    .continue-btn {
      //float: right;
      width: 242px;
      height: 45px;
      background: #148795;
      color: #fff;
      border: none;
      text-transform: uppercase;
      font-size: 15px;
      cursor: pointer;
      box-sizing: border-box;
      //margin-right: 91px;
      margin-top: 53px;
      padding-bottom: 5px;

      @media(max-width: $screen-sm-max) {
        float: none;
        margin: 50px auto 0;
        display: block;
      }
    }

    @media(max-width: $screen-sm-max) {
      padding-bottom: 20px;
    }
  }



  .social-enter {
    > a {
      margin-right: 8px;
    }
  }

  @media(max-width: $screen-xs-max) {
    border-width: 5px;
    min-height: auto;
  }
  //steps
  //Step 2
  .register-form {
    &.step-1 {
      //display: none;
    }

    &.step-2 {
      display: none;
    }

    &.step-3 {
      display: none;
      .col-md-6:nth-child(2n+1),
      .col-md-6:nth-child(2n) {
        @media (max-width: 1280px) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .add-animal {
        text-decoration: none;
        color: #148795;
        @include position(absolute, 36px 42px null null);
        z-index: 10;
        &:hover {
          text-decoration: underline;
        }

        @media (max-width: 1280px) {
          right: 15px;
        }
      }

      .animal-age {
        select,
        .select-style {
          width: 40%;

          &:first-child {
            float: left;
          }

          &:last-child {
            float: right;
          }
        }

        @media (max-width: $screen-sm-max) {
          margin-bottom: 37px;
        }
      }

      .jq-selectbox__select {
        border-radius: 0;
        background: #fff;
        box-shadow: none;
        border-color: #d6d6d6;
        height: 44px;
        padding-top: 5px;
        padding-left: 15px;

        .jq-selectbox__trigger {
          border-left: none;

          .jq-selectbox__trigger-arrow {
            border: none;
            background: url(../img/arrow.png) no-repeat center center;
            width: 34px;
            height: 42px;
            top: 0;
            right: 0;
          }
        }
      }

      .sex-animal,
      .specials {
        margin-bottom: 38px;

        .jq-selectbox {
          width: 100%;

          .jq-selectbox__select {
            width: 100%;
          }
        }
      }

      .checkbox-wrap {
        position: relative;
        padding-left: 31px;
        margin-bottom: 18px;

        span {
          font-size: 12px;
          display: block;

          a {
            color: #148795;
          }
        }

        .jq-checkbox {
          width: 22px;
          height: 22px;
          border-radius: 0;
          background: #fff;
          box-shadow: none;
          position: absolute !important;
          left: 0;

          &.checked {
            .jq-checkbox__div {
              width: 100%;
              height: 100%;
              box-shadow: none;
              background: url(../img/check-mark.png) no-repeat center center;
              margin: 0;
            }
          }
        }
      }

      .reg-text {
        color: #9c9c9c;
        font-size: 12px;
      }
    }
  }
}

.datepicker.dropdown-menu {
  background-color: #fff;
  border: 1px solid #b9c7d6;
  border-radius: 0;
  z-index: 220 !important;

  thead {
    color: #148795;

    tr:last-child {
      // display: none;
    }
  }

  .datepicker-months td {
    width: 100%;
  }
}

input.input-style {
  border: 1px solid #d6d6d6;
  height: 44px;
  width: 100%;
  margin-bottom: 37px;
  border-radius: 0;
  font-size: 16px;
  color: #98a0a1;
  padding-left: 15px;
}

.error-msg {
  display: none;
}

.form-group.has-error {
  position: relative;

  input,
  .jq-selectbox__select,
  textarea {
    border-color: red !important;
  }

  .error-msg {
    display: block;
    position: absolute;
    color: red;
    font-size: 12px;
    top: 74px;
  }
}

.jq-selectbox {
  width: 100%;

  .jq-selectbox__select {
    width: 100%;
  }

  .jq-selectbox__select {
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    border-color: #d6d6d6;
    height: 44px;
    padding-top: 5px;
    padding-left: 15px;

    .jq-selectbox__trigger {
      border-left: none;

      .jq-selectbox__trigger-arrow {
        border: none;
        background: url(../img/arrow.png) no-repeat center center;
        width: 34px;
        height: 42px;
        top: 0;
        right: 0;
      }
    }
  }
}

.register .register-form.step-3 .checkbox-wrap .form-group.has-error {
  position: static;
}

.register .register-form.step-3 .checkbox-wrap .form-group.has-error p {
  // top: 43px;
  position: relative;
  top: 0;

  @media (max-width: $screen-sm-max) {
    top: 10px;
    position: relative;
  }
}

//BACK END FIXES
.register .register-form .col-md-6 {
  margin-bottom: 37px;
}

.register .register-form {
  padding-bottom: 0;
}

input.input-style {
  margin-bottom: 0;
}

.register .chose-animal {
  min-height: auto;
}

.register .register-form .step-3 {
  margin-top: 0;
}

.register .register-form.step-3 .sex-animal,
.register .register-form.step-3 .specials {
  margin-bottom: 0;
}

.register .register-form .continue-btn {
  margin-top: 0;
}

#petform-years-styler {
  margin-right: 20px; }

@media (max-width: 991px) {
  .register .register-form .continue-btn {
    margin-bottom: 15px;
  }
}

.chose-animal {
  min-height: 110px;

  .field-signupform-animal {
    display: inline-block;
  }

  p.error-msg {
    width: 175px;
    top: 55px;
  }
  .form-group {
    display: inline-block;
    margin-right: 25px;
    position: relative;

    input {
      position: absolute;
      opacity: 0;
    }

    label input + label {
      width: 51px;
      height: 51px;
      background: url(../img/sprite-chose-animal.png) no-repeat;
      display: block;
      cursor: pointer;
    }

    &:nth-of-type(2) {
      label input + label {
        background-position: -51px 0;
      }
      label input:checked + label {
        background-position: 0 0;
      }
    }
    &:nth-of-type(3) {
      label input + label {
        background-position: -51px -51px;
      }
      label input:checked + label {
        background-position: 0 -51px;
      }
    }
  }

  .remove {
    display: inline-block;
    margin-right: 25px;
    position: relative;
    a {
      width: 51px;
      height: 51px;
      background: url(../img/sprite-chose-animal.png) no-repeat;
      background-position: 0 -102px;
      display: block;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }

    //&.cat {
    //  label {
    //    background-position: -51px 0;
    //  }
    //  input:checked + label{
    //    background-position: 0 0;
    //  }
    //}
    //&.dog {
    //  label {
    //    background-position: -51px -51px;
    //  }
    //  input:checked + label{
    //    background-position: 0 -51px;
    //  }
    //}
  }

  ul {
    li {
      display: inline-block;

      a {
        width: 51px;
        height: 51px;
        display: block;
        margin-right: 26px;

        &:before {
          content: '';
          width: 51px;
          height: 51px;
          background: url(../img/sprite-chose-animal.png) no-repeat;
          display: block;
        }

        &.cat {
          &:before {
            background-position: -51px 0;
          }

          &.active {
            &:before {
              background-position: 0 0;
            }
          }
        }

        &.dog {
          &:before {
            background-position: -51px -51px;
          }

          &.active {
            &:before {
              background-position: 0 -51px;
            }
          }
        }

        &.remove {
          &:before {
            background-position: 0 -102px;
          }
        }

        @media (max-width: $screen-xs-max) {
          margin-right: 6px;
        }
      }
    }
  }
}

//*****************************************************************
.page-body .alert {
  padding: 15px;
  border: 1px solid transparent;
}

.page-body .alert .close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.page-body .alert-success,
.page-body .alert-danger {
  padding-left: 273px;
}

.page-body .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.page-body .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

@media (max-width: 991px) {
  .page-body .alert-success,
  .page-body .aler-danger {
    padding-left: 50px;
  }
}

.chose-animal p.error-msg {
    position: absolute;
    color: red;
    font-size: 12px;
    top: 55px;
    width: 175px; }

#signupform-breed-styler.disabled .jq-selectbox__dropdown,
#signupform-specials-styler.disabled .jq-selectbox__dropdown{
  display: none !important;
}

#petform-years-styler {
  margin-right: 20px; }

#petformsecond-years-styler {
  margin-right: 20px; }

#petformthird-years-styler {
  margin-right: 20px; }

#petformfourth-years-styler {
  margin-right: 20px; }

#petformfifth-years-styler {
  margin-right: 20px; }

.hidden{
  display: none;
}

.animal-age .error-msg{
  top: 46px !important;
}

.save-animal{
  float: right;
  width: 145px;
  height: 35px;
  background: #148795;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;
  margin-right: 10px;
  padding-bottom: 0;
}

.user-pets{
  margin-top: 50px;
}

.height-select {
  padding-right: 25px
}
@media (max-width: 1400px) {
  .height-select {
    padding-right: 57px;
  }
}

.height-select .jq-selectbox__select{
  height: 32px;
  padding-top: 0;
}

.height-select .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow{
  height: 32px;
}

.pet-birthday .control-label{
  float: left;
  font-size: 14px;
  margin-top: 8px;
}

.pet-birthday .form-group>.jq-selectbox{
  float: right;
  width: 100px;
}

.lk-body .pet-birthday .form-group{
  width: 33%;
}
.lk-body .pet-birthday .form-group{
  padding-right: 0;
}
