.winner {
  background: url(../img/winner-head-bg.jpg) no-repeat;
  background-size: 100%;

  .winner-head {
    text-align: center;
    color: #3c4143;
    position: relative;
    padding: 64px 0;

    .title {
      font-family: $myriadprolight;
      font-size: 28px;

      &:before {
        content: '';
        display: block;
        background: url(../img/winner-logo.png) no-repeat;
        width: 234px;
        height: 62px;
        margin: 0 auto 21px;
      }
    }

    .sub-title {
      font-size: 34px;
      margin: 92px auto 0;
      position: relative;
      width: 599px;
      position: relative;

      br {
        display: none;
      }

      &:before {
        content: '';
        background: url(../img/winner-left.png) no-repeat;
        width: 286px;
        height: 367px;
        position: absolute;
        left: -203px;
        top: -152px;
      }

      &:after {
        content: '';
        background: url(../img/winner-right.png) no-repeat;
        width: 194px;
        height: 334px;
        position: absolute;
        right: -206px;
        top: -216px;
      }

      @media (max-width: 1260px) {
        br {
          display: block;
        }

        &:after {
          right: -58px;
        }

        &:before {
          left: -101px;
        }
      }

      @media (max-width: $screen-sm-max){
        width: 100%;
        br{
          display: none;
        }

        &:before,
        &:after{
          display: none;
        }
      }
    }

    @media (max-width: 1363px) {
      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    @media (max-width: $screen-sm-max) {
      padding: 30px 0;

      &:before,
      &:after {
        display: none;
      }

      .sub-title {
        margin-top: 15px;
      }
    }
  }
}

.photos {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 25px;

  .photo-wrap {
    display: block;
    @include aspect-ratio(357,357);
    overflow: hidden;

    .photo-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #0d98a6 url(../img/photo-zoom.png) no-repeat center center;
      opacity: 0;
      z-index: 10;
      top: 0;
      transition: 0.2s ease;
    }

    img {
      position: absolute;
      top: 0;
      z-index: 9;
      width: 100%;
      height: auto;

      &.horizontal {
        height: 100%;
        max-width: none;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:hover {
      .photo-overlay {
        opacity: 0.8;
        transition: 0.2s ease;
      }
    }
  }

  .photo-title {
    font-family: $myriadprolight;
    font-size: 23px;
    margin: 16px 10px 3px;
  }

  .photo-autor {
    font-family: $myriadprolight;
    font-size: 17px;
    margin: 0 13px 17px;
    letter-spacing: 0.9px;
  }

  .photo-row {
    margin-bottom: 27px;
  }

  .wrapper {
    position: relative;
    padding-bottom: 40px;
    height: 100%;
  }

  .photo-foot {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;

    .like {
      float: left;
      color: #26a0af;
      font-family: $myriadprolight;
      text-decoration: none;
      margin-left: 16px;

      span {
        font-size: 18px;
        margin-left: 13px;
        display: inline-block;
      }

      &:before {
        content: '';
        background: url(../img/blue-like.png) no-repeat;
        display: inline-block;
        width: 21px;
        height: 20px;
      }
    }

    .share {
      float: right;
      margin-right: 17px;

      &:before {
        content: '';
        background: url(../img/blue-share.png) no-repeat;
        display: inline-block;
        width: 24px;
        height: 21px;
      }
    }
  }
}

.pagination-photo {
  float: right;

  ul {
    li {
      display: inline-block;
      margin: 0 8px;

      a {
        text-decoration: none;
        font-size: 28px;
        font-family: $myriadprolight;
        color: #454545;

        &:hover,
        &.active {
          color: #d52176;
        }


      }
      @media (max-width:$screen-sm-max){
        margin: 0 4px;
        a{
          font-size: 18px;
        }

      }
    }
  }
}
